<div class="mod-news">
    <div class="m-wrapper">
        <div class="m-header">
            <h1 i18n="News|title for the News@@news">News</h1>
        </div>
        <div class="m-table-container">
            <div class="m-table-button-container">
                <button nz-button (click)="addNews()"  nzType="primary" class="m-primary-button" i18n="Add News|Title for the Add News@@addNews">
                    <i nz-icon nzType="edit"></i>
                    Add News
                </button>
            </div>
            <nz-table class="m-table" #news [nzData]="posts" nzTableLayout="fixed">
                <thead >
                  <tr class="m-table-header">
                    <th nzWidth="40px" ></th>
                    <th i18n="picture|Title for the picture@@picture" >Picture</th>
                    <th i18n="title|Title for the title@@title">Title</th>
                    <th i18n="teaser|Title for the teaser@@teaser">Teaser</th>
                    <th i18n="template|Title for the template@@template">Template</th>
                    <th nzWidth="162px"></th>
                  </tr>
                </thead>
                <tbody class="m-table-body">
                <ng-container *ngFor="let data of news.data">
                    <tr  class="m-table-row">
                        <td></td>
                        <td class="m-table-picture" > <img nz-image [nzSrc]="data.img" alt="" ></td>
                        <td class="m-table-title " >{{data.title}}</td>
                        <td class="m-table-teaser" ><div [innerHTML]="data.teaser"></div></td>
                        <td class="m-table-template">{{data.template == '1' ? 'Small' : 'Big'  }}</td>
                        <td class="m-table-action">
                            <button nz-button (click)="editNews(data.id)"  nzType="primary" class="m-secondary-button" i18n="Add News|Title for the Add News@@addNews">
                                <i nz-icon nzType="edit"></i>
                            </button>
                            <nz-divider nzType="vertical"></nz-divider>
                            <button nz-button (click)="deleteNews(data.id , data.title)"  nzType="primary" class="m-danger-button" i18n="Add News|Title for the Add News@@addNews">
                                <i nz-icon nzType="delete" nzTheme="outline"></i>
                            </button>
                        </td>
                    </tr>
                </ng-container>
                </tbody>
              </nz-table>
        </div>
    </div>
</div>
