<div class="mod-news">
    <div class="m-wrapper">
        <div class="m-table-container">
            <div class="m-table-button-container">
                <button nz-button (click)="addNews()"  nzType="primary" class="m-primary-button" i18n="Add News|Title for the Add News@@addNews">
                    <i nz-icon nzType="edit"></i>
                    Add News
                </button>
            </div>
            <nz-table class="m-table" #news [nzData]="posts" nzTableLayout="fixed">
                <thead >
                  <tr class="m-table-header">
                    <th nzWidth="40px" ></th>
                    <th i18n="picture|Title for the picture@@picture" >Picture</th>
                    <th i18n="title|Title for the title@@title">Title</th>
                    <th i18n="teaser|Title for the teaser@@teaser">Teaser</th>
                    <th i18n="template|Title for the template@@template">Template</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody class="m-table-body">
                <ng-container *ngFor="let data of news.data">
                    <tr  class="m-table-row">
                        <td [nzExpand]="expandSet.has(data.id)" (nzExpandChange)="onExpandChange(data.id, $event)"></td>
                        <td class="m-table-picture" > <img [src]="data.img" alt="" style="width:170px ; height : 70px"></td>
                        <td class="m-table-title" >{{data.title}}</td>
                        <td class="m-table-teaser" >{{data.teaser}}</td>
                        <td class="m-table-template">{{data.template == '1' ? 'Vertical' : 'Horizental'  }}</td>
                        <td class="m-table-action">
                            <button nz-button (click)="addNews()"  nzType="primary" class="m-primary-button" i18n="Add News|Title for the Add News@@addNews">
                                <i nz-icon nzType="plus" nzTheme="outline"></i>
                            </button>
                            <nz-divider nzType="vertical"></nz-divider>
                            <button nz-button (click)="addNews()"  nzType="primary" class="m-primary-button" i18n="Add News|Title for the Add News@@addNews">
                                <i nz-icon nzType="edit"></i>
                            </button>
                            <nz-divider nzType="vertical"></nz-divider>
                            <button nz-button (click)="addNews()"  nzType="primary" class="m-primary-button" i18n="Add News|Title for the Add News@@addNews">
                                <i nz-icon nzType="delete" nzTheme="outline"></i>
                            </button>
                        </td>
                    </tr> 
                    <tr [nzExpand]="expandSet.has(data.id)">
                        <nz-table class="m-table" #textMedia [nzData]="data.text_media_news" nzTableLayout="fixed">
                            <thead >
                                <tr class="m-table-header">
                                  <th i18n="picture|Title for the picture@@picture" >Picture</th>
                                  <th i18n="title|Title for the title@@title">Title</th>
                                  <th i18n="subtitle|Title for the subtitle@@subtitle">subtitle</th>
                                  <th i18n="description|Title for the description@@description">description</th>
                                  <th></th>
                                </tr>
                            </thead>
                            <tbody class="m-table-body">                            
                                <ng-container *ngFor="let subNews of textMedia.data">
                                    <tr>
                                        <td class="m-table-picture" > <img [src]="subNews.picture" alt="" style="width:170px ; height : 70px"></td>
                                        <td class="m-table-picture" > {{subNews.title}}</td>
                                        <td class="m-table-title" >{{subNews.subtitle}}</td>
                                        <td class="m-table-teaser" >{{subNews.description}}</td>
                                        <td class="m-table-action">
                                            <button nz-button (click)="addNews()"  nzType="primary" class="m-primary-button" i18n="Add News|Title for the Add News@@addNews">
                                                <i nz-icon nzType="edit"></i>
                                            </button>
                                            <nz-divider nzType="vertical"></nz-divider>
                                            <button nz-button (click)="addNews()"  nzType="primary" class="m-primary-button" i18n="Add News|Title for the Add News@@addNews">
                                                <i nz-icon nzType="delete" nzTheme="outline"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </nz-table>
                    </tr>
                </ng-container>
                </tbody>
              </nz-table>
        </div>
    </div>
</div>
