<div class="mod-draft-item">
  <div class="m-wrapper">
    <div class="m-table">
      <div class="m-container">
        <div class="m-header">
          <input
            type="checkbox"
            (click)="check($event, itemValue.value)"
            [value]="post.id"
            class="m-checkbox"
            #itemValue
          />
          <div class="m-icon">
            <img src="/assets/img/test-images/image.svg" alt="" />
          </div>
          <div class="m-image">
            <nz-skeleton-element
              nzType="image"
              *ngIf="post.postMedia.length == 0"
            ></nz-skeleton-element>
            <img
              src="{{ post.postMedia[0].url }}"
              alt=""
              *ngIf="post.postMedia.length > 0"
            />
          </div>
          <div class="m-content">
            <h6 i18n="Drafts Post Title|Drafts Post Title @@DraftsPostTitle">
              {{ post.message }}
            </h6>

            <div class="m-account">
              <div class="m-image">
                <img src="/assets/img/test-images/ttl.png" alt="" />
                <div class="m-provider-logo">
                  <img
                    src="{{
                      '/assets/img/test-images/' + post.provider + '.svg'
                    }}"
                    alt=""
                  />
                </div>
              </div>

              <div class="m-name">{{ post.accountName }}</div>
            </div>
          </div>
          <div class="m-date">
            <div class="m-create-date">
              {{ post.createdAt | date: "dd-MM-yyyy HH:mm" }}
            </div>
            <br />
            <span class="m-text"> {{ post.createdBy }} </span>
          </div>
          <div class="m-action">
            <div class="m-left">
              <a
                href="{{ post.url }}"
                target="_blank"
                class="m-button is-disabled"
              >
                <i nz-icon nzType="ng-zorro:edit" [nzTheme]="'outline'"></i>

                <span
                  i18n="
                    Continue Editing|Continue Editing Button
                    Text@@continueEditing"
                  >Continue editing
                </span>
              </a>
            </div>
            <div class="m-right">
              <button class="m-button is-primary">
                <img
                  i18n-alt
                  src="/assets/img/svgs/icons/send.svg"
                  alt="send icon"
                  class="m-icon"
                />
                <span i18n="Publish|Publish Button Text@@publish">Publish</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
