<div class="m-loading-screen"></div>
<div class="mod-create-post">
  <div class="m-wrapper">
    <div class="m-header">
      <h3 i18n="New Post|Title for New Post@@newPost">New post</h3>
    </div>
    <div class="m-cp-container">
      <div class="m-left-col">
        <div class="m-form-group">
          <div class="m-form-label">
            <h4 i18n="Accounts|Title for accounts@@accounts">Account(s)</h4>
          </div>
          <div class="m-form-field">
            <nz-form-control [nzSpan]="24">
              <nz-select
                [(ngModel)]="accountsValue"
                [nzSize]="size"
                nzMode="tags"
                nzDropdownClassName="account-container"
                nzPlaceHolder="Please select"
                (ngModelChange)="accountChange()"
              >
                <nz-option
                  *ngFor="let option of listOfPages"
                  [nzLabel]="option.pageName"
                  [nzCustomContent]="true"
                  [nzValue]="option.id + '|' + option.provider"
                  >
                      <div class="m-image">
                        <img src="{{ option.pagePictureUrl }}" alt="" />
                        <div class="m-provider-logo">
                          <img
                            class="instagram"
                            src="{{
                              '/assets/img/test-images/' + option.provider + '.svg'
                            }}"
                            alt=""
                          />
                        </div>
                      </div>
                    <label>{{ option.pageName }}</label></nz-option>
              </nz-select>
            </nz-form-control>
          </div>
          <span
            class="m-hidden"
            id="accountsFormController"
            i18n="
              AccountFormControl|Title for accounts Error@@accountsFormControl"
            >Please fill the accounts field</span
          >
        </div>

        <div class="m-form-group">
          <div class="m-form-label">
            <h4 i18n="Media|Title for Media@@media">Media</h4>
          </div>
          <div class="m-upload">
            <div class="clearfix">
              <nz-upload
                [nzAction]="uploadFileAPIURL"
                nzListType="picture-card"
                [(nzFileList)]="fileList"
                [nzShowButton]="fileList.length < 8"
                (nzChange)="handleChange($event)"
                nzAccept="image/*"
              >
                <div>
                  <button class="m-button is-disabled m-image">
                    <i nz-icon nzType="ng-zorro:imagePlus"></i
                    ><span i18n="add a Photo|Title for add a photo@@addPhoto">
                      Add a photo</span
                    >
                  </button>
                </div>
              </nz-upload>
              <nz-modal
                [nzVisible]="previewVisible"
                [nzContent]="modalContent"
                [nzFooter]="null"
                (nzOnCancel)="previewVisible = false"
              >
                <ng-template #modalContent>
                  <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
                </ng-template>
              </nz-modal>
            </div>
            <div class="clearfix">
              <div class="m-thumb-container">
                <div
                  class="m-img-container"
                  *ngFor="let item of selectedThumbnailList"
                >
                  <i
                    nz-icon
                    nzType="delete"
                    nzTheme="outline"
                    (click)="deleteVideo(item)"
                  ></i>
                  <img
                    *ngIf="item"
                    [src]="item.imgB64 ? item.imgB64 : item.url"
                    (click)="changeSelectedVideo(item)"
                  />
                </div>
              </div>
              <nz-upload
                [nzAction]="uploadFileAPIURL"
                nzListType="picture-card"
                [(nzFileList)]="videosList"
                (nzChange)="uploadVideo($event)"
                nzAccept="video/*"
                [nzShowButton]="videosList.length < 8"
              >
                <div>
                  <button class="m-button is-disabled m-video">
                    <i nz-icon nzType="ng-zorro:video"></i>
                    <span i18n="Add a Video|Title for add a video@@addVideo">
                      Video hinzufügen</span
                    >
                  </button>
                </div>
              </nz-upload>
            </div>
          </div>
          <div class="m-form-field">
            <div class="m-choose-media">
              <div class="m-button-notice-container">
                <button
                  class="m-button is-disabled m-gallery"
                  (click)="showAlbumModal()"
                >
                  <span><i nz-icon nzType="ng-zorro:album"></i></span>
                  <span i18n="My gallery|Title for my gallery@@myGallery"
                    >My gallery</span
                  >
                </button>
                <span class="m-info-icon">
                  <i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>
                  <div
                    class="m-text-info"
                    i18n="
                      My Gallery Info Text|Title for my gallery info
                      text@@myGalleryInfoText"
                  >
                    Dieses Feld ist erforderlich
                  </div>
                </span>
              </div>
              <nz-modal
                [(nzVisible)]="showAlbum"
                nzTitle="The first Modal"
                (nzOnCancel)="handleCancel()"
              >
                <div
                  *nzModalTitle
                  style="
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 33px;
                    color: rgba(0, 0, 0, 0.5);
                  "
                  i18n="My gallery|Title for my gallery@@myGallery"
                >
                  My gallery
                </div>
                <ng-container *nzModalContent>
                  <app-album-preview
                    (onSubmit)="addToPost($event)"
                  ></app-album-preview>
                </ng-container>
                <div *nzModalFooter></div>
              </nz-modal>
            </div>
          </div>
          <span
            class="m-hidden"
            id="mediasFormController"
            i18n="MediaFormControl|Title for medias Error@@mediasFormControl"
            >Dieses Feld ist erforderlich</span
          >
        </div>

        <div class="m-form-group">
          <div class="m-form-label">
            <h4>Text</h4>
          </div>
          <div class="m-form-field">
            <textarea
              id="mainMessage"
              [(ngModel)]="message"
              (keyup)="updateMessage()"
              class="m-textarea-message"
              nz-input
              placeholder="Statut"
            ></textarea>
          </div>
        </div>

        <div class="m-form-group">
          <div class="m-form-label">
            <h4 i18n="Hashtags|Title for Hashtags@@hashtags">Hashtags</h4>
          </div>
          <div class="m-form-field">
            <nz-select
              class="general"
              nzDropdownClassName="tag-general"
              (ngModelChange)="mergeHashtags($event)"
              nzMode="tags"
              nzPlaceHolder="#hashtags"
              [(ngModel)]="listOfTagOptions"
            >
              <nz-option
                *ngFor="let option of listOfOption"
                [nzLabel]="option.label"
                [nzValue]="option.value"
              ></nz-option>
            </nz-select>
          </div>
        </div>

        <div class="m-form-group">
          <div class="m-form-label">
            <h4 i18n="Location|Title for location@@location">
              Location <span>- optional</span>
            </h4>
          </div>
          <div class="m-form-field">
            <input
              nz-input
              placeholder="Gib einen Standort ein"
              class="m-location"
            />
          </div>
        </div>
      </div>
      <div class="m-mid-col is-active">
        <div class="m-collapse-menu-button">
          <i
            class="m-sidemenu-button is-active"
            (click)="collapse()"
            nz-icon
            nzType="ng-zorro:menuButton"
          ></i>
        </div>
        <div class="m-sidemenu is-active">
          <div class="m-tab">
            <ul id="tabsList">
              <li
                id="instagram-tab-title"
                class="is-active"
                (click)="tabChange('instagram-tab-title', $event)"
              >
                <span
                  ><i class="instagram" nz-icon nzType="ng-zorro:instagram"></i
                ></span>
                Instagram
              </li>
              <li
                id="facebook-tab-title"
                (click)="tabChange('facebook-tab-title', $event)"
              >
                <span
                  ><i class="facebook" nz-icon nzType="ng-zorro:facebook"></i
                ></span>
                Facebook
              </li>
            </ul>
            <div class="m-tab-content">
              <div class="m-content" *ngIf="tabId1 == 'instagram-tab-title'">
                <div class="m-header">
                  <h3
                    i18n="
                      Customize Instagram Post|Title for Customize instagram
                      post@@customizeInstagramPost"
                  >
                    Customize Instagram post
                  </h3>
                  <p
                    i18n="
                      Text for Instagram Only|Title for This text will only
                      appear on your Instagram post@@TextForInstagramOnly"
                  >
                    This text will only appear on your Instagram post.
                  </p>
                </div>
                <div class="m-form-group">
                  <div class="m-form-label">
                    <h4
                      i18n="
                        Instagram Text|Title for Instagram Text@@instagramText"
                    >
                      Instagram Text
                    </h4>
                  </div>
                  <div class="m-form-field">
                    <textarea
                      [(ngModel)]="instagramMessage"
                      (change)="checkMessage()"
                      class="m-textarea-message"
                      nz-input
                      placeholder="Statut"
                    ></textarea>
                  </div>
                </div>

                <div class="m-form-group">
                  <div class="m-form-label">
                    <h4 i18n="Hashtags|Title for Hashtags@@hashtags">
                      Hashtags
                    </h4>
                  </div>
                  <div class="m-form-field">
                    <nz-select
                      nzMode="tags"
                      nzDropdownClassName="tag-instagram"
                      class="instagram"
                      nzPlaceHolder="#hashtags"
                      [(ngModel)]="listOfTagOptionsInsta"
                    >
                      <nz-option
                        *ngFor="let option of listOfOptionInsta"
                        [nzLabel]="option.label"
                        [nzValue]="option.value"
                      ></nz-option>
                    </nz-select>
                  </div>
                </div>

                <div class="m-form-group">
                  <div class="m-form-label">
                    <h4 i18n="Mention|Title for Mention@@mention">
                      Mention <span>- optional</span>
                    </h4>
                  </div>
                  <div class="m-form-field">
                    <input
                      nz-input
                      placeholder="Gib ein mit dir vernetztes Profil ein."
                      class="m-location"
                    />
                  </div>
                </div>
                <div class="m-form-group">
                  <div
                    id="loader"
                    *ngIf="leadThumbnail"
                    class="m-thumbnail-loader"
                  >
                    <i nz-icon [nzType]="'loading'"></i>
                  </div>
                  <div *ngIf="!leadThumbnail && listThumbnail.length > 0" class="m-form-label">
                    <h4 i18n="Thumbnail Title|Title for Thumbnails title@@thumbnailTitle">
                      Select thumbnail
                    </h4>
                    <p i18n="Thumbnail Info|Title for Thumbnails info@@thumbnailInfo">
                      Choose a photo that will appear as the thumbnail image of the video.
                    </p>
                  </div>
                  <div class="m-thumbnails-preview" *ngIf="!leadThumbnail">
                    <div
                      class="m-previous-icon"
                      (click)="generatethumbnails('previous')"
                      *ngIf="currentTimePosition > 10"
                    >
                      <i nz-icon nzType="left" nzTheme="outline"></i>
                    </div>
                    <div class="m-thumbnails-preview-items">
                      <img
                        *ngFor="let thumbnail of listThumbnail"
                        class="m-thumbnails-preview-item"
                        [src]="thumbnail.imgB64"
                        alt=""
                        (click)="selectThumbnail(thumbnail)"
                      />
                    </div>
                    <div
                      class="m-next-icon"
                      (click)="generatethumbnails('next')"
                      *ngIf="
                        selectedVideo &&
                        currentTimePosition < selectedVideo.duration - 10
                      "
                    >
                      <i nz-icon nzType="right" nzTheme="outline"></i>
                    </div>
                  </div>
                </div>
              </div>

              <div class="m-content" *ngIf="tabId1 == 'facebook-tab-title'">
                <div class="m-header">
                  <h3
                    i18n="
                      Customize Facebook Post|Title for Customize facebook
                      post@@customizeFacebookPost"
                  >
                    Customize Facebook Post
                  </h3>
                  <p
                    i18n="
                      Text for Facebook Only|Title for This text will only
                      appear on your Facebook post@@TextForFacebookOnly"
                  >
                    This text will only appear on your Facebook post.
                  </p>
                </div>
                <div class="m-form-group">
                  <div class="m-form-label">
                    <h4
                      i18n="Facebook Text|Title for Facebook Text@@facebookText"
                    >
                      Facebook Text
                    </h4>
                  </div>
                  <div class="m-form-field">
                    <textarea
                      [(ngModel)]="facebookMessage"
                      (change)="checkMessage()"
                      class="m-textarea-message"
                      nz-input
                      placeholder="Statut"
                    ></textarea>
                  </div>
                </div>

                <div class="m-form-group">
                  <div class="m-form-label">
                    <h4 i18n="Hashtags|Title for Hashtags@@hashtags">
                      Hashtags
                    </h4>
                  </div>
                  <div class="m-form-field">
                    <nz-select
                      nzMode="tags"
                      nzDropdownClassName="tag-facebook"
                      class="facebook"
                      nzPlaceHolder="#hashtags"
                      [(ngModel)]="listOfTagOptionsFacebook"
                    >
                      <nz-option
                        *ngFor="let option of listOfOptionFacebook"
                        [nzLabel]="option.label"
                        [nzValue]="option.value"
                      ></nz-option>
                    </nz-select>
                  </div>
                </div>

                <div class="m-form-group">
                  <div class="m-form-label">
                    <h4 i18n="Mention|Title for Mention@@mention">
                      Mention <span>- optional</span>
                    </h4>
                  </div>
                  <div class="m-form-field">
                    <input
                      nz-input
                      placeholder="Gib ein mit dir vernetztes Profil ein."
                      class="m-location"
                    />
                  </div>
                </div>

                <div class="m-form-group">
                  <div class="m-form-label">
                    <h4 i18n="Schedule|Title for Schedule@@schedule">
                      Schedule <span>- optional</span>
                    </h4>
                  </div>
                  <div class="m-form-field">
                    <nz-date-picker
                      id="datePicker"
                      nzShowTime
                      nzFormat="yyyy-MM-ddTHH:mm:ss"
                      [(ngModel)]="schedule"
                      (ngModelChange)="onChange($event)"
                      (nzOnOk)="onOk($event)"
                    ></nz-date-picker>
                  </div>
                </div>

                <div class="m-form-group">
                  <div
                    id="loader"
                    *ngIf="leadThumbnail"
                    class="m-thumbnail-loader"
                  >
                    <i nz-icon [nzType]="'loading'"></i>
                  </div>
                  <div *ngIf="!leadThumbnail && listThumbnail.length > 0" class="m-form-label">
                    <h4 i18n="Thumbnail Title|Title for Thumbnails title@@thumbnailTitle">
                      Thumbnail auswählen
                    </h4>
                    <p i18n="Thumbnail Info|Title for Thumbnails info@@thumbnailInfo">
                      Wähle ein Foto, das als Standbild des Videos angezeigt wird.
                    </p>
                  </div>

                  <div class="m-thumbnails-preview" *ngIf="!leadThumbnail">
                    <div
                      class="m-previous-icon"
                      (click)="generatethumbnails('previous')"
                      *ngIf="currentTimePosition > 10"
                    >
                      <i nz-icon nzType="left" nzTheme="outline"></i>
                    </div>
                    <div class="m-thumbnails-preview-items">
                      <img
                        *ngFor="let thumbnail of listThumbnail"
                        class="m-thumbnails-preview-item"
                        [src]="thumbnail.imgB64"
                        alt=""
                        (click)="selectThumbnail(thumbnail)"
                      />
                    </div>
                    <div
                      class="m-next-icon"
                      (click)="generatethumbnails('next')"
                      *ngIf="
                        selectedVideo &&
                        currentTimePosition < selectedVideo.duration - 10
                      "
                    >
                      <i nz-icon nzType="right" nzTheme="outline"></i>
                    </div>
                  </div>

                  <div *ngIf="!leadThumbnail && listThumbnail.length > 0" class="m-custom-upload">
                    <nz-upload
                      [nzAction]="uploadFileAPIURL"
                      [nzHeaders]="{ authorization: 'authorization-text' }"
                      [(nzFileList)]="customThumbnailList"
                      (nzChange)="customThumbnail($event)">
                      <button class="m-button is-disabled is-black-icon" i18n="UploadYourOwn|Title for Upload your own@@uploadYourOwn">
                        <i nz-icon nzType="upload"></i>
                        upload your own
                      </button>
                    </nz-upload>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="m-right-col">
        <div *ngIf="mediaList.length <= 0" class="m-no-preview">
          <h3
            i18n="
            Preview Not Available|Title for preview not
            available@@previewNotAvailable"
          >
            Preview not available
          </h3>
          <p
            i18n="
              Preview Not Available Info Text|Title for preview not available
              Info@@previewNotAvailableInfoText"
          >
            Add one or more images or a video to the post to see a preview here.
          </p>
        </div>

        <app-instagram-preview
          *ngIf="!refresh && mediaList.length > 0 && instagramPreview"
          [mediaList]="mediaList"
          [message]="instagramMessage"
          [avatarUrl]="avatarUrlInsta"
          [pageName]="pageNameInsta"
          (newItemEvent)="addMentions($event)"
        ></app-instagram-preview>

        <app-facebook-preview
          *ngIf="mediaList.length > 0 && facebookPreview && !refresh"
          [postDescription]="facebookMessage"
          accountName="accountname.test"
          [imgList]="mediaList"
          [avatarUrl]="avatarUrlFacebook"
          [pageName]="pageNameFacebook"
        ></app-facebook-preview>
      </div>
    </div>
    <div class="m-action-buttons">
      <button
        class="m-button is-secondary no-transparent"
        (click)="uploadThumbnail('DRAFT')"
        nz-button
        [nzLoading]="isLoading"
        i18n="
          Save as Draft Button|Title for Save as draft button@@saveAsDraftButton"
      >
        <span class="m-button-icon-save"
          ><i nz-icon nzType="ng-zorro:folder"></i
        ></span>
        Save as draft
      </button>
      <button
        class="m-button is-primary no-transparent"
        nz-button
        (click)="uploadThumbnail('PUBLISH')"
        [nzLoading]="isLoading"
        i18n="Publish Button|Title for Publish button@@publishButton"
      >
        <span class="m-button-icon-publish"
          ><i nz-icon nzType="ng-zorro:send"></i
        ></span>
        Publish
      </button>
    </div>
  </div>
</div>
