@import '../../../../../assets/sass/_project/_config.scss';
@import '../../../../../assets/sass/_global/_mixins.scss';
@import '../../../../../assets/sass/_project/base.scss';

.mod-register {
    min-width: 650px;

    //TODO: place it in the right place and add multi-devices check
    button {
        height: 39px;
    }
    > .m-wrapper {
        text-align: center;
        padding-top: 5%;

        > .m-subtitle {
            > h2 {
                @include textstyle-size-20();
                letter-spacing: 0.4em;
                margin-bottom: 7px;
            }
        }

        > .m-title {
            > h1 {
                @include textstyle-size-44-bold();
                margin-bottom: 24px;
            }
        }

        > .m-para {
            @include textstyle-size-12();
            margin-bottom: 39px;
        }

        > .m-form {
           
            >.m-two-column {
                width: 38%;
                margin: auto;
                display: flex;

                >.m-form-field-1{
                    display : flex;
                    justify-content:start ;

                    >.m-form-label{
                        max-width: 25%;
                        margin: 0px 10px 0px -10px;
                    }

                    >.m-form-control{
                        max-width: 65%;
                    }
                }
                >.m-form-field-2{
                    display : flex;
                    justify-content:start ;

                    >.m-form-label{
                        max-width: 15%;
                    }

                    >.m-form-control{
                        max-width: 60%;
                    }
                }

            }
        }
    }
}
