@import '../../../../../assets/sass/_project/_config.scss';
@import '../../../../../assets/sass/_global/_mixins.scss';
@import '../../../../../assets/sass/_project/base.scss';

.mod-edit-profile{
    .m-wrapper{

        .m-form {
            width : 100%;
            border-radius: 5px;
            background: $color-white;
            padding: 20px;
        
            @include mq(desktop){
                width : 50%;
            }
        
            >.m-form-group{
                margin : 20px;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 12px;
                line-height: 16px;
                font-style: normal;
                >.m-form-input{
                    display : flex;
                    justify-content:center;
                    align-items: center;
                    border: 0.5px solid $color-media-primary-orange;
                    margin: 10px 0 0 0;
                    height: 45px;

                    >input{
                        height: -webkit-fill-available;
                    }

                    >i{
                        padding: 10px ;
                        cursor: pointer;
                    }
                }

                .m-form-switch{
                    margin: 10px 0 0 0;
                }

                >.error {
                    color : red;
                    padding: 5px 0;
                }
            }
        
            >button{
                margin : 20px;
                height: 39px;
                padding: 10px 40px;
                display: flex;
                align-items: center;

                &.m-primary-button{
                    background: $color-media-primary-orange;
                    color: $color-white;
                    border-color: $color-media-primary-orange;
                    &:hover{
                        background: $color-media-dark-orange;
                        border-color: $color-media-dark-orange;
                    }
                }
            }
        }

    }
}
