@import '../../../../../assets/sass/_project/_config.scss';
@import '../../../../../assets/sass/_global/_mixins.scss';
@import '../../../../../assets/sass/_project/base.scss';

.mod-edit-profile{
    .m-wrapper{
      >.m-header{
        padding: 18px;
        font-size: 2.5rem;
        line-height: 1.36175;
        text-transform: capitalize;
        font-weight: 400;
        >h1{
          @include textstyle-size-32-bold();
          margin-bottom: 5px;
          text-align: center;
          @include mq(mobilebig) {
              @include textstyle-size-44-bold();
          }
        }
    }

        .m-form {
            width : 100%;
            border-radius: 5px;
            background: $color-white;
            padding: 20px;
            >.m-form-group{
                margin : 20px;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 12px;
                line-height: 16px;
                font-style: normal;
                display: flex;
                align-items: baseline;
                label{
                  max-width: 90px;
                  width: 100%;
                  justify-content: flex-end;
                  display: flex;
                  margin-right: 18px;
                  color: $color-media-dark-grey;
                  text-transform: capitalize;
                }
                >.m-form-input{
                    display : flex;
                    justify-content:center;
                    align-items: center;
                    border: 0.5px solid $color-media-primary-orange;
                    margin: 10px 0 0 0;
                    height: 45px;
                    position: relative;
                    width: 100%;

                    >input{
                        height: -webkit-fill-available;
                    }

                    >i{
                        padding: 10px ;
                        cursor: pointer;
                    }
                }

                .m-form-switch{
                    margin: 10px 0 0 0;
                }

                >.error {
                    color : red;
                    padding: 5px 0;
                }
            }

            >button{
                margin : 20px;
                height: 39px;
                padding: 10px 40px;
                display: flex;
                align-items: center;
                margin: auto;

                &.m-primary-button{
                    background: $color-media-primary-orange;
                    color: $color-white;
                    border-color: $color-media-primary-orange;
                    &:hover{
                        background: $color-media-dark-orange;
                        border-color: $color-media-dark-orange;
                    }
                }
            }
        }

    }
}
