<nz-layout class="mod-page-layout">
  <app-navbar></app-navbar>

  <nz-layout>
    <nz-sider
      class="menu-sidebar"
      nzCollapsible
      nzWidth="85px"
      nzBreakpoint="md"
      [(nzCollapsed)]="isCollapsed"
      [nzTrigger]="null"
    >
      <app-sidebar [isCollapsed]="isCollapsed"></app-sidebar>
    </nz-sider>

    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
  <app-footer> </app-footer>
</nz-layout>
