@import '../../../../assets/sass/_project/_config.scss';
@import '../../../../assets/sass/_global/_mixins.scss';
@import '../../../../assets/sass/_project/base.scss';

.mod-page-layout {
    min-height: 100vh;
}

nz-sider{

    &:hover{
        position: absolute;
        height: 100%;
        z-index: 2;

        @include mq(desktop) {
            position: relative;
            display: block;
        }
    }

}

:host {
    display: flex;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.app-layout {
    height: 100vh;
}

.trigger:hover {
    color: #1890ff;
}

nz-content {
    margin: 24px;
    @include mq(l) {
        margin: 24px 193px 24px 24px;
    }
}

.inner-content {
    padding: 24px;
    background: transparent;
    height: 100%;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(201, 201, 201);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #001529;
}
