/node_modules
/node_modules.old
/public/hot
/public/storage
/storage/*.key
/vendor
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
public/angular
public/de
public/assets
resources/views/angular.blade.php
/docs
/.angular
.env
config.toml
/builds
deploy.sh
deploy.bat
/.composer
.htaccess
.htpasswd
