<div class="mod-reset-password">
  <div class="m-wrapper">
    <div class="m-header">
      <div class="m-subtitle">
        <h2 i18n>RESET PASSWORD</h2>
      </div>
      <div class="m-title">
        <h1 i18n>Social Media Publisher</h1>
      </div>
      <div class="m-para" i18n="LoginPhrase|phrase in auth module@@loginPhrase">
        Easily manage all your social media and get results with our application
      </div>
    </div>
    <div class="m-container">
      <div class="m-input-fields">
        <input type="text" nz-input placeholder="Please enter your E-mail here" [(ngModel)]="email" />
        <nz-input-group [nzSuffix]="suffixTemplateVisible">
          <input [type]="passwordVisible ? 'text' : 'password'" nz-input placeholder="New password" [(ngModel)]="password" />
        </nz-input-group>
        <nz-input-group [nzSuffix]="suffixTemplateVisible2">
          <input [type]="passwordVisible2 ? 'text' : 'password'" nz-input placeholder="Confirm password" [(ngModel)]="confirmPassword" />
        </nz-input-group>




        <ng-template #suffixTemplateVisible>
          <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible" ></i>
        </ng-template>
        <ng-template #suffixTemplateVisible2>
          <i nz-icon [nzType]="passwordVisible2 ? 'eye-invisible' : 'eye'" (click)="passwordVisible2 = !passwordVisible2" ></i>
        </ng-template>
      </div>
      <div class="m-sign-up">
        <p i18n="Sign In Phrase|Sign in phrase@@signIn">If you want to login, <a routerLink="../../login">Klicke hier!</a></p>
        <p i18n="Registration Phrase|Registration Phrase@@registerPhrase">Noch kein Konto?<a routerLink="../register">Registriere dich hier.</a></p>
      </div>
      <div class="m-button-login">
        <button
          class="m-button is-primary no-transparent"
          nz-button
          (click)="submit()"
          nzType="primary"
          [nzLoading]="isLoading"
          i18n="Reset Button|Reset Button@@resetButton"
        >
          Reset Password
        </button>
      </div>
    </div>

    <div class="m-success-modal">
      <div (click)="closeSuccessModal()" class="m-close-icon">
        <img src="../../../assets/img/close.png" alt="close" />
      </div>
      <div class="m-success">
        <img src="../../../assets/img/Group.png" alt="refreshing" i18n="Success title|Success title@@successTitle"/>
        <div class="m-success-title" >
          <img src="../../../assets/img/Check.png" alt="success" />
          Operation has been successful.
        </div>
        <p i18n="Success Phrase|Success Phrase for password change@@successPhrase">
          Your password has been changed successfully.
        </p>
      </div>
    </div>

  </div>
</div>
