@import '../../../../../assets/sass/_project/_config.scss';
@import '../../../../../assets/sass/_global/_mixins.scss';
@import '../../../../../assets/sass/_project/base.scss';

.mod-reset-password {
  width: 100%;
  height: 100%;
  background-color: $color-base-0;
  border-top: 18px solid $color-media-border;
  border-bottom: 18px solid $color-media-border;
  border-right: 20px solid $color-media-border;
  border-left: 20px solid $color-media-border;

  > .m-wrapper {
    position: relative;
    height: 100%;
    padding-top: 10%;
    text-align: center;

    > .m-header {
      > .m-subtitle {
        > h2 {
          @include textstyle-size-20();
          letter-spacing: 0.4em;
          margin-bottom: 7px;
        }
      }

      > .m-title {
        > h1 {
          @include textstyle-size-44-bold();
          margin-bottom: 20px;
        }
      }

      > .m-para {
        @include textstyle-size-12();
        margin-bottom: 39px;
      }
    }

    > .m-container {
      > .m-input-fields {
        display: flex;
        flex-direction: column;
        align-items: center;
        > input, nz-input-group {
          width: 90%;
          height: 45px;
          border: 1px solid $color-media-primary-orange;
          margin-bottom: 20px;
          @include mq(tablet) {
            width: 50%;
          }
          @include mq(desktop) {
            width: 30%;
          }
        }
      }
      > .m-sign-up {
        margin: 6px 0 17px;

        >p {
          margin: 0;
          @include textstyle-size-12();

          > a {
            color: $color-base-100;
            text-decoration: underline;
          }
        }
      }

      > .m-button-login {
        text-align: center;

        > button {
          margin: auto;
          border-radius: 0%;
          width: 118px;
          height: 39px;
          @include textstyle-size-14();
          display: flex;
          justify-content: center;
          padding: 10px 0;
        }
      }
    }

    > .m-success-modal {
      display: none;
      z-index: 19;
      position: absolute;
      width: 595px;
      height: 356px;
      top: 40%;
      left: 50%;
      transform: translate3D(-50%, -50%, 0);
      background-color: $color-base-0;
      box-shadow: 0 0 8px 2px $color-media-light-grey;
      padding: 20px;

      &.open {
        display: flex;
      }

      > .m-close-icon {
        position: absolute;
        right: 24px;
        top: 24px;
        height: 10px;
        width: 10px;
        cursor: pointer;

        > img {
            position: absolute;
            z-index: 9;
            width: 10px;
            height: 10px;
        }
      }

      > .m-success {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 350px;
        margin: auto;
        gap: 11px;

        > img {
          width: 33px;
          height: 33px;
          margin-bottom: 17px;
        }

        > .m-success-title {
          @include textstyle-size-14-bold();
          position: relative;

          > img {
            position: absolute;
            left: -42px;
            top: -7px;
          }
        }

        > p {
          text-align: center;
        }
      }
    }
  }
}
