<div class="mod-accounts">
  <div class="m-wrapper">
    <div class="m-accounts-header">
      <h1 i18n="Accounts Title|Title for the Accounts Page@@accountsTitle">
        Social Media Profile
      </h1>

      <button
        *ngIf="!isLoading && connectedAccounts != ''"
        (click)="loginWithFacebook('add')"
        i18n="add Account or page |add account or page@@addAccountPage"
        class="m-button is-primary"
      >
        <span><i nz-icon nzType="ng-zorro:add"></i></span> Weiteres Konto
        verknüpfen
      </button>
    </div>
    <div class="m-accounts-container">
      <div *ngIf="isLoading" class="m-loading">
        <i nz-icon nzType="loading" nzTheme="outline"></i>
      </div>
      <div *ngIf="!isLoading && connectedAccounts == ''" class="m-login">
        <span class="m-login-icon">
          <i nz-icon nzType="ng-zorro:add"></i>
        </span>
        <div class="m-message-info">
          <h4
            i18n="
              No account|No connected account title@@NoConnectedAccountTitle"
          >
            Noch keine Beiträge vorhanden.
          </h4>
          <p
            i18n="
              No account message|No connected account
              message@@NoConnectedAccountMessage"
          >
            Verknüpfe Deine Social Media Kanäle mit der mediafactory, um
            Beiträge zu gestalten und direkt zu veröffenltichen.
          </p>
        </div>
        <div class="m-login-button">
          <button
            (click)="loginWithFacebook()"
            class="m-button is-primary"
            i18n="Login button|Login account button@@LoginAccount"
          >
            <span><i nz-icon nzType="ng-zorro:add"></i></span>Konto verknüpfen
          </button>
        </div>
      </div>

      <div
        *ngIf="!isLoading && connectedAccounts != ''"
        class="m-connected-accounts"
      >
        <div
          *ngFor="let account of connectedAccounts"
          class="m-account-container"
        >
          <div class="m-media-small">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/9/9a/Gull_portrait_ca_usa.jpg"
              alt=""
            />
            <div class="m-provider-logo">
              <img src="/assets/img/test-images/instagram.svg" alt="" />
            </div>
          </div>
          <div class="m-page-info">
            <div class="m-page">{{ account.profileName }}</div>
            <div class="m-date">hinzugefügt am 23.04.22</div>
            <div class="m-followers">Follower: <strong> 4967</strong></div>
          </div>
          <div class="m-alert">
            <img src="../../../assets/img/exclamation.png" alt="" />
          </div>
          <div class="m-action">
            <button class="m-button is-primary">
              <span><i nz-icon nzType="ng-zorro:edit"></i></span> Zum Beitrag
            </button>
            <button class="m-button is-disabled">
              <span><i nz-icon nzType="ng-zorro:pencil"></i></span> Daten ändern
            </button>
          </div>
          <button class="m-icon-button">
            <i nz-icon nzType="delete" nzTheme="outline"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="m-modal-pages">
      <div (click)="closeModal()" class="m-close-icon">
        <img src="../../../assets/img/close.png" alt="close" />
      </div>
      <div class="m-modal-header">
        <div class="m-title">Instagram & Business Seiten hinzufügen</div>
        <div class="m-text">
          Wähle deine verbundenen Business Konten und Facebook Seiten aus, die
          du mit der mediafactory verknüpfen möchtest.
        </div>
        <div *ngIf="this.currentUser != ''" class="m-list-title">
          Mit <strong>accountname.test</strong> verknüpfte Konten:
        </div>
      </div>

      <form class="m-form-pages" nz-form [formGroup]="validateForm">
        <tr *ngFor="let page of listpages">
          <td>
            <label>
              <input
                class="m-checkbox"
                type="checkbox"
                [value]="page.pageId"
                (change)="onCheckChange($event)"
              />

              <nz-avatar
                nzIcon="user"
                [nzSrc]="page.pagePictureUrl"
                style="margin: 8px 26px; width: 36px; height: 36px"
              ></nz-avatar>

              {{ page.pageName }}
            </label>
          </td>
        </tr>
      </form>
      <div class="m-submit-button">
        <button (click)="onSubmit()" class="m-button is-primary">
          Verknüpfen
        </button>
      </div>
    </div>

    <div class="m-success-modal">
      <div (click)="closeSuccessModal()" class="m-close-icon">
        <img src="../../../assets/img/close.png" alt="close" />
      </div>
      <div class="m-success">
        <img src="../../../assets/img/Group.png" alt="refreshing" />
        <div class="m-success-title">
          <img src="../../../assets/img/Check.png" alt="success" />
          Erfolgreich angemeldet.
        </div>
        <p>
          Du wirst gleich weitergeleitet, um deine verknüpften Seiten dem
          mediafactory Social Media Publisher hinzuzufügen.
        </p>
      </div>
    </div>
  </div>
</div>
