<div class="mod-accounts">
  <div class="m-wrapper">
    <div class="m-accounts-header">
      <h1 i18n="Accounts Title|Title for the Accounts Page@@accountsTitle">
        Social Media Profile
      </h1>

      <button
        *ngIf="!isLoading && connectedAccounts != ''"
        (click)="loginWithFacebook('add')"
        i18n="add Account or page |add account or page@@addAccountPage"
        class="m-button is-primary"
      >
        <span><i nz-icon nzType="ng-zorro:add"></i></span> Link another account
      </button>
    </div>
    <div class="m-accounts-container">
      <div *ngIf="!isLoading && connectedAccounts == ''" class="m-login">
        <span class="m-login-icon">
          <i nz-icon nzType="ng-zorro:add"></i>
        </span>
        <div class="m-message-info">
          <h4
            i18n="
              No account|No connected account title@@NoConnectedAccountTitle"
          >
            No posts yet.
          </h4>
          <p
            i18n="
              No account message|No connected account
              message@@NoConnectedAccountMessage"
          >
            Link your social media channels with the mediafactory to Design and
            publish posts directly.
          </p>
        </div>
        <div class="m-login-button">
          <button
            (click)="loginWithFacebook()"
            class="m-button is-primary"
            i18n="Login button|Login account button@@LoginAccount"
          >
            <span><i nz-icon nzType="ng-zorro:add"></i></span>Link account
          </button>
        </div>
      </div>

      <div *ngIf="isLoading" class="m-connected-accounts">
        <!-- Begin Skeleton -->
        <div *ngFor="let item of [0, 1, 2]" class="m-account-container">
          <div class="m-media-small">
            <nz-skeleton-element
              nzType="avatar"
              [nzActive]="true"
              [nzSize]="64"
            ></nz-skeleton-element>
          </div>
          <div class="m-page-info">
            <nz-skeleton [nzActive]="true"></nz-skeleton>
          </div>
          <div class="m-alert">
            <nz-skeleton-element
              nzType="avatar"
              [nzActive]="true"
              [nzSize]="16"
            ></nz-skeleton-element>
            <div
              class="m-title-hover"
              i18n="
                Alert error connection|Text alert for error
                connection@@alertErrorConnection"
            >
              We are currently unable to access your account. Please check your
              account and your access data on Facebook directly.
            </div>
          </div>
          <div class="m-action">
            <nz-skeleton-element
              nzType="button"
              [nzActive]="true"
              [nzSize]="'large'"
            ></nz-skeleton-element>
          </div>
          <div class="m-action-manager">
            <nz-skeleton-element
              nzType="avatar"
              [nzActive]="true"
              [nzSize]="16"
            ></nz-skeleton-element>
            <nz-skeleton-element
              nzType="avatar"
              [nzActive]="true"
              [nzSize]="16"
            ></nz-skeleton-element>
          </div>
        </div>
        <!-- End Skeleton -->
      </div>
      <div
        *ngIf="!isLoading && connectedAccounts != ''"
        class="m-connected-accounts"
      >
        <h2 i18n="Personnel Account|Personnel account title@@personnelAccount">
          Personnal Accounts
        </h2>

        <div
          *ngFor="let account of connectedAccounts"
          class="m-account-container"
        >
          <div class="m-media-small">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/9/9a/Gull_portrait_ca_usa.jpg"
              alt=""
            />
            <div class="m-provider-logo">
              <img
                src="{{
                  '/assets/img/test-images/' + account.provider + '.svg'
                }}"
                alt=""
              />
            </div>
          </div>
          <div class="m-page-info">
            <div class="m-page">{{ account.profileName }}</div>
          </div>
          <div class="m-alert">
            <img src="/assets/img/exclamation.png" alt="" />
            <div
              class="m-title-hover"
              i18n="
                Alert error connection|Text alert for error
                connection@@alertErrorConnection"
            >
              We are currently unable to access your account. Please check your
              account and your access data on Facebook directly.
            </div>
          </div>
          <div class="m-action"></div>
          <div class="m-action-manager">
            <button (click)="deletePage(account.id)" class="m-icon-button">
              <i nz-icon nzType="ng-zorro:trash" nzTheme="outline"></i>
            </button>
            <button
              *ngIf="!account.isConnected"
              (click)="reconnectPage($event, account.id)"
              class="m-icon-button"
            >
              <i nz-icon nzType="login" nzTheme="outline"></i>
            </button>
            <button
              *ngIf="account.isConnected"
              (click)="showDisconnectConfirm(account.id)"
              class="m-icon-button"
            >
              <i nz-icon nzType="ng-zorro:logout" nzTheme="outline"></i>
            </button>
          </div>
        </div>
      </div>

      <div *ngIf="!isLoading && listOfPages != ''" class="m-connected-accounts">
        <h2 i18n="Connected pages|Title for connected pages@@connectedPages">
          Connected Social Media Accounts
        </h2>
        <div *ngFor="let page of listOfPages" class="m-account-container">
          <div
            [ngClass]="{ 'is-disconnected': !page.isConnected }"
            class="m-media-small"
          >
            <img src="{{ page.pagePictureUrl }}" alt="" />
            <div class="m-provider-logo">
              <img
                src="{{ '/assets/img/test-images/' + page.provider + '.svg' }}"
                alt=""
              />
            </div>
          </div>
          <div
            [ngClass]="{ 'is-disconnected': !page.isConnected }"
            class="m-page-info"
          >
            <div class="m-page">{{ page.pageName }}</div>
            <div class="m-date"> <span i18n="Added on|Title for added on@@addedOn">added on &nbsp;</span> {{page.createdAt | date: "dd.MM.yyyy" }}</div>
            <div class="m-followers">
              Follower: <strong> {{ page.followers }}</strong>
            </div>
          </div>
          <div
            [ngClass]="{ 'is-disconnected': !page.isConnected }"
            class="m-alert"
          >
            <img
              *ngIf="!page.isConnected"
              src="/assets/img/exclamation.png"
              alt=""
            />
            <div
              class="m-title-hover"
              i18n="
                Alert error connection|Text alert for error
                connection@@alertErrorConnection"
            >
              We are currently unable to access your account. Please check your
              account and your access data on Facebook directly.
            </div>
          </div>
          <div
            [ngClass]="{ 'is-disconnected': !page.isConnected }"
            class="m-action"
          >
            <button
              class="m-button is-primary"
              i18n="Create Post|Text for create post@@createPost"
              routerLink="/application/create-post/{{page.id}}"

            >
              <span><i nz-icon nzType="ng-zorro:edit"></i></span> Create Post
            </button>
          </div>
          <div class="m-action-manager">
            <button (click)="deletePage(page.id)" class="m-icon-button">
              <i nz-icon nzType="ng-zorro:trash" nzTheme="outline"></i>
            </button>
            <button
              *ngIf="!page.isConnected"
              (click)="reconnectPage($event, page.id)"
              class="m-icon-button"
            >
              <i nz-icon nzType="login" nzTheme="outline"></i>
            </button>
            <button
              *ngIf="page.isConnected"
              (click)="showDisconnectConfirm(page.id)"
              class="m-icon-button"
            >
              <i nz-icon nzType="ng-zorro:logout" nzTheme="outline"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="m-modal-pages">
      <div (click)="closeModal()" class="m-close-icon">
        <img src="/assets/img/close.png" alt="close" />
      </div>
      <div class="m-modal-header">
        <div class="m-title" i18n="Add pages|Title for adding pages@@addPages">
          Add Instagram & Business Pages
        </div>
        <div
          class="m-text"
          i18n="Add Pages Text|Text for add pages@@addPagesText"
        >
          Select your connected business accounts and Facebook Pages that you
          want to link to the mediafactory.
        </div>
        <div
          *ngIf="this.currentUser != ''"
          class="m-list-title"
          i18n="
            Pages Linked To Accountname|Text for pages linked to
            accountname@@pagesLinkedToAccount"
        >
          Pages Linked To <strong>accountname.test</strong>:
        </div>
      </div>

      <form class="m-form-pages" nz-form [formGroup]="validateForm">
        <tr *ngFor="let page of listpages">
          <td>
            <label>
              <input
                class="m-checkbox"
                type="checkbox"
                [value]="page.pageId"
                (change)="onCheckChange($event)"
              />

              <nz-avatar
                nzIcon="user"
                [nzSrc]="page.pagePictureUrl"
                style="margin: 8px 26px; width: 36px; height: 36px"
              ></nz-avatar>

              {{ page.pageName }}
            </label>
          </td>
        </tr>
      </form>
      <div class="m-submit-button">
        <button
          (click)="onSubmit()"
          class="m-button is-primary"
          i18n="Link|Link@@link"
        >
          Link
        </button>
      </div>
    </div>

    <div class="m-success-modal">
      <div (click)="closeSuccessModal()" class="m-close-icon">
        <img src="/assets/img/close.png" alt="close" />
      </div>
      <div class="m-success">
        <img src="/assets/img/Group.png" alt="refreshing" />
        <div
          class="m-success-title"
          i18n="Logged In|Logged in successfully@@loggedIn"
        >
          <img src="/assets/img/Check.png" alt="success" />
          Logged in successfully.
        </div>
        <p
          i18n="
            Redirect Message Success|Text for redirection after
            success@@redirectMessageSuccess"
        >
        You will be immediately redirected to view your linked pages dem
        Add mediafactory social media publisher.
        </p>
      </div>
    </div>
  </div>
</div>
