<div class="intro">
  </div>
    <div id="container">
      <div class="pricetab">
        <h1> FREE </h1>
        <div class="price"> 
          <h2> Free </h2> 
        </div>
        <div class="infos">
          <h3> Premium Profile Listing </h3>
          <h3> Unlimited File Access </h3>
          <h3> Free Appointments </h3>
          <h3> 0 Bonus Points every month</h3>
          <h3> Customizable Profile Page</h3>
          <h3> 1 month support</h3>
        </div>
        <div class="pricefooter">
          <div class="button">
            <a href="#"> Get started </a>
          </div>
        </div>
      </div>
      <div class="pricetab">
        <h1> STARTER </h1>
        <div class="price"> 
          <h2> 10$ </h2> 
        </div>
        <div class="infos">
          <h3> Premium Profile Listing </h3>
          <h3> Unlimited File Access </h3>
          <h3> Free Appointments </h3>
          <h3> 5 Bonus Points every month</h3>
          <h3> Customizable Profile Page</h3>
          <h3> 2 months support</h3>
        </div>
        <div class="pricefooter">
          <div class="button">
            <a href="#"> Get started </a>
          </div>
        </div>
      </div>
      <div class="pricetabmid">
        <h1> BASIC </h1>
        <div class="pricemid"> 
          <h2> 30$ </h2> 
        </div>
        <div class="infos">
          <h3> Premium Profile Listing </h3>
          <h3> Unlimited File Access </h3>
          <h3> Free Appointments </h3>
          <h3> 20 Bonus Points every month</h3>
          <h3> Customizable Profile Page</h3>
          <h3> 6 months support</h3>
        </div>
        <div class="pricefootermid">
          <div class="buttonmid">
            <a href="#"> Get started </a>
          </div>
        </div>
      </div>
      <div class="pricetab">
        <h1> PREMIUM </h1>
        <div class="price"> 
          <h2> 50$ </h2> 
        </div>
        <div class="infos">
          <h3> Premium Profile Listing </h3>
          <h3> Unlimited File Access </h3>
          <h3> Free Appointments </h3>
          <h3> 30 Bonus Points every month</h3>
          <h3> Customizable Profile Page</h3>
          <h3> 1 year support</h3>
        </div>
        <div class="pricefooter">
          <div class="button">
            <a href="#"> Get started </a>
          </div>
        </div>
      </div>
      <div class="pricetab">
        <h1> VIP </h1>
        <div class="price"> 
          <h2> 100$ </h2> 
        </div>
        <div class="infos">
          <h3> Premium Profile Listing </h3>
          <h3> Unlimited File Access </h3>
          <h3> Free Appointments </h3>
          <h3> 50 Bonus Points every month</h3>
          <h3> Customizable Profile Page</h3>
          <h3> 2 years support</h3>
        </div>
        <div class="pricefooter">
          <div class="button">
            <a href="#"> Get started </a>
          </div>
        </div>
      </div>
    </div>