@import '../../../../../assets/sass/_project/_config.scss';
@import '../../../../../assets/sass/_global/_mixins.scss';
@import '../../../../../assets/sass/_project/base.scss';

.mod-add-news{

    >.m-wrapper {
        >.m-header{
            padding: 18px;
            font-size: 2.5rem;
            line-height: 1.36175;
            text-transform: capitalize;
            font-weight: 400;
            >h1{
              @include textstyle-size-32-bold();
              margin-bottom: 5px;
              @include mq(mobilebig) {
                  @include textstyle-size-44-bold();
              }
            }
        }

        >.m-form{

            >.m-form-group{
                padding: 18px;

                >label {
                  font-size: 14px;
                  color: $color-media-black;
                  opacity: 0.85;

                }

                >.m-form-input {
                    >.m-select,
                    input{
                        width: 100%;
                        height: 45px;
                        border: 1px solid #ff8d69;
                        background-color: $color-base-0;
                        display:flex;
                        align-items: center;
                    }
                }



                >.error{
                    color: red;
                }
            }

            >.m-primary-button{
                margin : 18px ;
                background-color: $color-media-primary-orange;
                border-color: $color-media-primary-orange;
                border-radius: 0;
                font-weight: 700;
                height: 39px;

                > span {
                    @include textstyle-size-14-bold();

                }
            }
        }


    }
}
