@import '../../../../../assets/sass/_project/_config.scss';
@import '../../../../../assets/sass/_global/_mixins.scss';
@import '../../../../../assets/sass/_project/base.scss';

.mod-add-news{

    >.m-wrapper {
        background: white;
        padding-bottom: 18px;
        >.m-header{
            padding: 18px;
            font-size: 2.5rem;
            line-height: 1.36175;
            text-transform: capitalize;
            font-weight: 400;
            >h1{
              @include textstyle-size-32-bold();
              margin-bottom: 5px;
              text-align: center;
              @include mq(mobilebig) {
                  @include textstyle-size-44-bold();
              }
            }
        }

        >.m-form{

            >.m-form-group{
                padding: 18px;
                display: flex;
                align-items: baseline;

                >label {
                  font-size: 14px;
                  color: $color-media-black;
                  opacity: 0.85;
                  max-width: 71px;
                  width: 100%;
                  justify-content: flex-end;
                  display: flex;
                  margin-right: 10px;
                }

                >.m-form-input {
                  width: 100%;
                    >.m-select,
                    input{
                        width: 100%;
                        height: 45px;
                        border: 1px solid #ff8d69;
                        background-color: $color-base-0;
                        display:flex;
                        align-items: center;
                    }
                }



                >.error{
                    color: red;
                }
            }

            >.m-primary-button{
                background-color: $color-media-primary-orange;
                border-color: $color-media-primary-orange;
                border-radius: 0;
                font-weight: 700;
                height: 39px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 18px auto;
                @include textstyle-size-14-bold();
            }
        }


    }
}
.box-opener {
  cursor: pointer;
  padding: 16px;
  user-select: none;
  button{
     background-color: #ff8d69;
    border-color: #ff8d69;
    color: $color-base-0;
  }
}

.box {
  max-height: 0px;
  overflow-y: hidden;
  transition: ease-in-out 400ms max-height;
}

.box.opened {
  padding: 18px;
  max-height: 500px;
  transition: ease-in-out 600ms max-height;
}
