<div class="mod-add-news">
    <div class="m-wrapper">
        <div class="m-header">
            <h1 *ngIf="editMode" i18n="Update News|Update News for the Update News@@updateNews">Update News</h1>
            <h1 *ngIf="!editMode" i18n="Create News|Create News for the Create News@@CreateNews">Create News</h1>
        </div>
        <div class="m-form">
            <div class="m-form-group">
                <label i18n="title|Title for the title@@title">Title</label>
                <div class="m-form-input">
                    <input nz-input type="text" placeholder="title" [(ngModel)]="title" />
                </div>
                <small class="error" *ngIf="error && error.title" >{{error.title[0]}}</small>
            </div>
            <div class="m-form-group">
                <label i18n="teaser|Title for the teaser@@teaser">Teaser</label>
                <div class="m-form-input">
                    <input nz-input type="text" placeholder="teaser" [(ngModel)]="teaser" />
                </div>
                <small class="error" *ngIf="error && error.teaser" >{{error.teaser[0]}}</small>
            </div>
            <div class="m-form-group">
                <label i18n="picture|Title for the picture@@picture">Picture</label>
                <div class="m-form-input">
                    <input nz-input type="file" (change)="loadFile($event)" placeholder="picture" [(ngModel)]="picture" />
                </div>
                <small class="error" *ngIf="error && error.image" >{{error.image[0]}}</small>
            </div>
            <div class="m-form-group">
                <label i18n="date|Title for the date@@date">date</label>
                <div class="m-form-input">
                    <input nz-input type="date" placeholder="date" [(ngModel)]="date" />
                </div>
                <small class="error" *ngIf="error && error.date" >{{error.date[0]}}</small>
            </div>
            <div class="m-form-group">
                <label i18n="template|Title for the template@@template">Template</label>
                <div class="m-form-input">
                    <nz-select nzPlaceHolder="Choose" class="m-select" [(ngModel)]="template" >
                        <nz-option nzValue="1" nzLabel="Small"></nz-option>
                        <nz-option nzValue="2" nzLabel="Big"></nz-option>
                    </nz-select>
                </div>
                <small class="error" *ngIf="error && error.template" >{{error.template[0]}}</small>
            </div>
            <button nz-button nzType="primary" nzShape="round" class="m-primary-button" (click)="saveProfile()" i18n="save|Title for the save@@save">
                <i nz-icon nzType="edit" nzTheme="outline"></i>
                Save
            </button>
        </div>
    </div>
</div>
