<div class="mod-forget-password">
  <div class="m-wrapper">
    <div class="m-header">
      <div class="m-subtitle">
        <h2 i18n>FORGET PASSWORD</h2>
      </div>
      <div class="m-title">
        <h1 i18n>Social Media Publisher</h1>
      </div>
      <div class="m-para" i18n="LoginPhrase|phrase in auth module@@loginPhrase">
        Easily manage all your social media and get results with our application
      </div>
    </div>
    <div class="m-container">
      <input type="text" nz-input placeholder="Please enter your E-mail here" [(ngModel)]="email" />
      <div class="m-sign-up">
        <p i18n="Sign In Phrase|Sign in phrase@@signIn">If you want to login, <a routerLink="../login">Klicke hier!</a></p>
        <p i18n="Registration Phrase|Registration Phrase@@registerPhrase">Noch kein Konto?<a routerLink="../register">Registriere dich hier.</a></p>
      </div>
      <div class="m-button-login">
        <button
          class="m-button is-primary no-transparent"
          nz-button
          (click)="submit()"
          nzType="primary"
          [nzLoading]="isLoading"
          i18n="Submit Button|Submit Button@@submitButton"
        >
          Submit
        </button>
      </div>
    </div>
    <div class="m-success-modal">
      <div (click)="closeSuccessModal()" class="m-close-icon">
        <img src="../../../assets/img/close.png" alt="close" />
      </div>
      <div class="m-success">
        <img src="../../../assets/img/Group.png" alt="refreshing" />
        <div class="m-success-title" i18n="Success title|Success title@@successTitle">
          <img src="../../../assets/img/Check.png" alt="success" />
          Operation has been successful.
        </div>
        <p i18n="Email Success Phrase|Success Phrase for email submit@@emailSuccessPhrase">
          A confirmation email has been sent to your adresse, please check your emails.
        </p>
      </div>
    </div>
  </div>
</div>
