nz-select {
    width: 100%;
}

.m-page-img {
    height: 19px;
}
cdk-virtual-scroll-viewport {
    height: 150px;
}
.m-loading-screen-active {
    top: 0;
    left: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.25;
    z-index: 1;
}
.m-btn-submit {
    position: relative;
    width: 100px;
    background-color: #d3e9fb;
    display: flex;
    flex-direction: row;
    border: 1px solid #a8d7fd;
}
.m-loading-spin {
    display: none;
    position: absolute;
    right: 20px;
    top: 15px;
}
.show {
    display: block;
}


.mod-create-post {
    height: 100%;

    > .m-container {
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 21px;

        > .m-post-form {
            background-color: #D9D9D94D;
            padding: 26px;
            width: calc(50% - 11px);
            min-width: 520px;
            height: 100%;

            > .m-wrapper {

            }
        }

        >.m-preview-post {
            width: calc(50% - 11px);
            min-width: 520px;
            height: 100%;
            background-color: #D9D9D94D;

            > .m-wrapper {
                height: 100%;
                overflow: hidden;

                > .m-preview-title {
                    font-weight: 700;
                    margin: 15px 19px 17px 19px;
                }

                > .m-preview-tabs {
                    height: calc(100% - 50px);

                    > .m-card-container {
                        height: 100%;
                        
                        .m-tab {
                            height: 100%;
                        
                            > ul {
                                height: 40px;
                                width: fit-content;
                                display: flex;
                                align-items: center;
                                margin: 0;
                                padding-left: 0;
                        
                                > li {
                                    height: 100%;
                                    display: flex;
                                    align-items: center;
                                    list-style-type: none;
                                    color: black;
                                    cursor: pointer;
                                    background-color: #D9D9D966;
                                    text-align: center;
                                    font-weight: 400;
                                    position: relative;
                                    padding: 0 18px;
                                    margin: 0px 10px 0 0;
                        
                                    &:hover {
                                        background-color: #D9D9D9;
                                    }
                        
                                    &.is-active {
                                        background-color: #D9D9D9;
                                    }
                                }
                            }
                        
                            > .m-tab-content {
                                height: 100%;
                                padding: 71px 74px;
                                background-color: #D9D9D9;
                        
                                >.m-content {
                        
                                    >.m-instagram {
                                        height: 541.9677124023438px;
                                        width: 371px;
                                        background-color: rgb(0, 0, 0);
                                        margin: auto;
                                        >.m-insta-header {
                                            display: flex;
                                            flex-direction: row;
                                            align-items: center;
                                    
                                            >.m-image {
                                                padding: 10px;
                                                >img {
                                                    width: 50px;
                                                    height: 50px;
                                                }
                                            }
                                    
                                            >.m-title {
                                                margin-left: 3px;
                                                width: 114px;
                                                height: 12px;
                                                background: linear-gradient(-45deg, #c0c0c0, #616161, #d8d8d8, #727171);
                                                background-size: 500% 100%;
                                                animation: gradient 1s ease infinite;
                                            }
                                    
                                            @keyframes gradient {
                                                0% {
                                                    background-position: 0% 50%;
                                                }
                                                100% {
                                                    background-position: 100% 50%;
                                                }
                                            }
                                        }
                                    
                                        >.m-post {
                                            width: 100%;
                                            min-height: 272px;
                                            height: 329px;
                                            background-color: #979797;
                                        }
                                    
                                        >.m-insta-buttons {
                                            width: 100%;
                                            height: 38px;
                                            display: flex;
                                            flex-direction: row;
                                            justify-content: space-between;
                                    
                                            >.m-btn-left {
                                                display: flex;
                                                flex-direction: row;
                                                align-items: center;
                                                margin-left: 10px;
                                                >.m-heart {
                                                    width: 23px;
                                                    height: 23px;
                                                    background-image: url('../../../../../assets/img/svgs/heart.svg');
                                                    background-repeat: no-repeat;
                                                    filter: invert(1);
                                                    background-position: center;
                                                    margin: 8px 5px;
                                                }
                                                >.m-comment {
                                                    width: 25px;
                                                    height: 25px;
                                                    background-image: url('../../../../../assets/img/svgs/comment.svg');
                                                    background-repeat: no-repeat;
                                                    filter: invert(1);
                                                    background-position: center;
                                                    transform: rotateY(180deg);
                                                    margin: 8px 5px;
                                                }
                                                >.m-send {
                                                    width: 25px;
                                                    height: 25px;
                                                    background-image: url('../../../../../assets/img/svgs/send.svg');
                                                    background-repeat: no-repeat;
                                                    filter: invert(1);
                                                    background-position: center;
                                                    margin: 8px 5px;
                                                }
                                            }
                                            >.m-btn-right {
                                                >.m-bookmark {
                                                    width: 25px;
                                                    height: 25px;
                                                    background-image: url('../../../../../assets/img/svgs/bookmark2.svg');
                                                    background-repeat: no-repeat;
                                                    filter: invert(1);
                                                    background-position: center;
                                                    margin: 8px 14px;
                                                }
                                            }
                                    
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
