@import '../../../assets/sass/_project/_config.scss';
@import '../../../assets/sass/_global/_mixins.scss';
@import '../../../assets/sass/_project/base.scss';

.mod-gallery {
    width: 100%;
    height: 100%;

    > .m-wrapper {
        height: 100%;
        width: 100%;

        > .m-header {
            padding: 28px 50px;
            > h1 {
                @include textstyle-size-40();
                margin-bottom: 10px;
            }

            > h3 {
                margin: 0;
            }
        }

        > .m-container {
            background-color: $color-base-0;
            height: calc(100% - 145px);
            width: 100%;
            position: relative;

            > .m-filter-panel {
                min-height: 83px;
                border-bottom: 1px solid $color-media-black-opacity-30;
                display: flex;
                flex-direction: column;
                row-gap: 25px;
                justify-content: space-between;
                padding: 25px;

                @include mq(desktop) {
                    flex-direction: row;
                }

                > .m-left {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    row-gap: 10px;
                    width: 100%;

                    @include mq(mobilebig) {
                        flex-direction: row;
                        width: auto;
                    }

                    > .m-button {
                        margin-right: 10px;
                        height: 36px;
                        background: $color-media-background-light-grey;
                        align-items: center;
                        display: flex;
                        justify-content: space-between;
                        width: auto;
                        padding: 0 40px;

                        @include mq(mobilebig) {
                            width: 146px;
                            padding: 5px;
                        }

                        @include mq(desktop) {
                            width: auto;
                        }

                        > .m-button-icon {
                            font-size: 19px;
                            color: $color-media-background-light-grey;
                            padding-top: 3px;
                        }

                        > .m-button-text {
                            font-family: 'Open Sans';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 16px;
                            color: $color-media-black;
                            margin: 0 10px;
                        }

                        > .m-button-arrow {
                            font-size: 14px;
                            color: $color-media-black;
                        }
                    }

                    > .m-login-button {
                        color: $color-base-100;
                    }
                }

                > .m-right {
                    display: flex;
                    flex-direction: column;
                    row-gap: 10px;
                    width: 100%;

                    @include mq(mobilebig) {
                        flex-direction: row;
                        width: auto;
                    }

                    > .m-button {
                        margin-right: 10px;
                        height: 36px;
                        padding: 5px;
                        background: $color-media-primary-orange;
                        align-items: center;
                        display: flex;
                        justify-content: center;

                        > .m-button-icon {
                            font-size: 19px;
                            color: $color-media-background-light-grey;
                            padding-top: 3px;
                        }
                        > .m-button-text {
                            font-family: 'Open Sans';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 16px;
                            margin: 0 10px;
                        }
                    }

                    > .m-search-form {
                        border: 1px solid $color-media-background-light-grey;
                        margin-right: 10px;
                        height: 36px;
                        padding: 5px;
                    }
                }
            }

            > .m-album-items-container {
                display: grid;
                grid-template-columns: 1fr;
                padding: 35px;
                grid-gap: 22px;
                max-height: 600px;
                overflow: auto;
                justify-items: center;

                @include mq(mobilebig) {
                    margin-right: 10px;
                    grid-template-columns: 1fr 1fr;
                }

                @include mq(tablet) {
                    margin-right: 34px;
                    grid-template-columns: 1fr 1fr 1fr;
                }

                @include mq(desktop) {
                    margin-right: 34px;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                }

                @include mq(ml) {
                    flex-direction: row;
                    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
                }

                &::-webkit-scrollbar {
                    width: 8px;
                }

                &::-webkit-scrollbar-track {
                    background: $color-base-0;
                }

                &::-webkit-scrollbar-thumb {
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
                    border-radius: 14px;
                    background: $color-media-lighter-red;
                }

                &::-webkit-scrollbar-thumb:hover {
                    background: $color-media-light-red;
                }

                > .m-album-item-container {
                    width: 136px;
                    height: 136px;
                    background: $color-media-background-light-grey;
                    position: relative;

                    > .m-video-icon {
                        position: absolute;
                        font-size: 70px;
                        color: $color-base-0;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        height: inherit;
                        width: inherit;
                        justify-content: center;
                    }

                    > .m-album-item-image {
                        width: 136px;
                        height: 136px;
                        object-fit: cover;
                        object-position: center;
                    }
                }
            }

            > .m-gradient {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 100px;
                z-index: 99;
                background: -moz-linear-gradient(bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
            }
        }

        > .m-login-modal {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $color-media-black-opacity-30;
            z-index: 100;
            > .m-modal-container {
                width: 595px;
                height: 356px;
                background-color: $color-base-0;
                left: 50%;
                top: 50%;
                transform: translate3d(-50%, -50%, 0);
                position: absolute;
                box-shadow: 0 0 20px 2px $color-media-black-opacity-30;

                > .m-header {
                    position: relative;
                    width: 100%;
                    text-align: center;
                    padding-top: 49px;

                    > .m-close-icon {
                        position: absolute;
                        right: 34px;
                        top: 30px;
                        user-select: none;
                        cursor: pointer;

                        > img {
                            width: 8px;
                        }
                    }

                    > h3 {
                        @include textstyle-size-14-bold();
                        margin-bottom: 11px;
                    }

                    > p {
                        @include textstyle-size-12();
                        width: 60%;
                        margin: 0 auto 26px;
                    }
                }

                > .m-login-form {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    > input {
                        outline: none;
                        @include textstyle-size-14();
                        width: 400px;
                        height: 45px;
                        border: 1px solid $color-media-dark-orange;
                        margin-bottom: 10px;
                        padding-left: 23px;
                        display: flex;
                        align-items: center;
                    }

                    > button {
                        margin-top: 31px;
                        height: 39px;
                        @include textstyle-size-14-bold();
                        padding: 10px 40px;
                    }
                }
            }
        }
    }
}
