<div id="selectbuttons">
    <button id="filebtn" class="btn" (click)="showFile()">From File</button>
    <button id="urlbtn" class="btn" (click)="showUrl()">From Url</button>
</div>
<div style="display: flex; justify-content: center; flex-direction: column; align-items: center;">
    <video poster="" style="max-width: 600px; max-height: 400px; transform: scale(0); transition: all 0.3s;" controls id="video">
      Your browser does not support the video tag.
    </video>
    <div style="display: none; margin-top: 25px;" id="fileControls">
      <input type="file" id="inputfile" class="custom-file-input" accept="video/*" (change)="loadFile($event)" />
      <input type="url" id="videoUrl" placeholder="Enter the url of video" style="width: 300px; height: 30px" />
      <div id="numberWrapper" style="display: none;">
        <label for="numberofthumbnails" style="margin-left: 15px;">Enter number of thumbnails to generate
        </label>
        <input type="number" id="numberofthumbnails" />
      </div>
    </div>
    <div style="margin-top: 25px; display: none;" id="buttonWrapper">
      <button id="generatethumbnails" (click)="generatethumbnails()">Generate Thumbnails</button>
    </div>
    <div style="margin-top: 25px; display: none;" id="urlbuttonwrapper">
      <button id="generatethumbnails" (click)="generatethumbnailsfromurl()">Generate Thumbnails from url</button>
    </div>
  </div>
  <div id="loader" style="display: none; text-align: center;">
    <img src="https://i.giphy.com/media/l3nWhI38IWDofyDrW/giphy.webp" alt="">
  </div>
  <div id="thumbnails" style="display: flex; justify-content: center;flex-wrap: wrap; align-items: center; transition: all 0.3s;">
</div>