<div class="mod-gallery">
  <div class="m-wrapper">
    <div class="m-header">
      <h1 i18n="MyAlbum|Title for the My album@@myAlbum">My album</h1>
      <h3
        i18n="
          MyAlbum|subTitle for the album @@chooseMediafactory"
      >
        Choose a meme you designed from the mediafactory and publish it.
      </h3>
    </div>
    <div class="m-container">
      <div class="m-filter-panel">
        <div class="m-left">
          <button
            nz-button
            nz-dropdown
            [nzDropdownMenu]="postType"
            class="m-button is-secondary"
          >
            <div class="m-button-icon">
              <i nz-icon nzType="ng-zorro:image"></i>
            </div>
            <div
              class="m-button-text"
              i18n="postType|Title for the post type@@postType"
            >
              Post type
            </div>
            <div class="m-button-arrow">
              <i
                nz-icon
                nzType="ng-zorro:customArrow"
                [nzTheme]="'outline'"
              ></i>
            </div>
          </button>
          <nz-dropdown-menu #postType="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item>menu4 1st menu item</li>
              <li nz-menu-item>menu4 2nd menu item</li>
              <li nz-menu-item>menu4 3rd menu item</li>
            </ul>
          </nz-dropdown-menu>
          <button
            nz-button
            nz-dropdown
            [nzDropdownMenu]="postings"
            class="m-button is-secondary"
          >
            <div class="m-button-icon">
              <i nz-icon nzType="ng-zorro:calender"></i>
            </div>
            <div
              class="m-button-text"
              i18n="AllPostings|Title for the All Postings@@allPostings"
            >
              All Postings
            </div>
            <div class="m-button-arrow">
              <i
                nz-icon
                nzType="ng-zorro:customArrow"
                [nzTheme]="'outline'"
              ></i>
            </div>
          </button>
          <nz-dropdown-menu #postings="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item>menu4 1st menu item</li>
              <li nz-menu-item>menu4 2nd menu item</li>
              <li nz-menu-item>menu4 3rd menu item</li>
            </ul>
          </nz-dropdown-menu>
          <a *ngIf="!loggedIn" class="m-login-button" (click)="showLoginModal()" i18n="MediaFactoryLoginButton|Title for Media factory login button@@mediaFactoryLoginButton">
            <i nz-icon nzType="login" nzTheme="outline"></i> login to media factory
          </a>
          <a *ngIf="loggedIn" class="m-login-button" (click)="logOut()" i18n="MediaFactoryLogoutButton|Title for Media factory logout button@@mediaFactoryLogoutButton">
            <i nz-icon nzType="logout" nzTheme="outline"></i> Logout of media factory
          </a>
        </div>
        <div class="m-right">
          <input type="text" class="m-search-form" placeholder="search" />
          <button class="m-button">
            <div class="m-button-icon">
              <i nz-icon nzType="ng-zorro:costum-edit"></i>
            </div>
            <div
              class="m-button-text"
              i18n="CreateNew|Title for the Create new@@createNew"
            >
              Create new
            </div>
          </button>
        </div>
      </div>

      <div class="m-album-items-container" *ngIf="!isLoading">
        <div class="m-album-item-container" *ngFor="let item of images">
          <i nz-icon class="m-video-icon" *ngIf="item.type == 'video'" nzType="caret-right" nzTheme="outline"></i>
          <img nz-image [nzSrc]="item.type == 'image' ? item.url : item.thumbnailLink" alt="" class="m-album-item-image" />
        </div>
        <br />
        <br />
      </div>
      <div class="m-album-items-container" *ngIf="isLoading">
        <div *ngFor="let item of [].constructor(30)">
          <nz-skeleton-element
            nzType="avatar"
            [nzActive]="true"
            [nzShape]="'square'"
            [nzSize]="136"
          ></nz-skeleton-element>
        </div>
      </div>

      <div class="m-gradient"></div>
    </div>
    <div *ngIf="displayLoginModal" class="m-login-modal">
      <div class="m-modal-container">
        <div class="m-header">
          <div (click)="closeModal()" class="m-close-icon">
            <img src="/assets/img/close.png" alt="close" />
          </div>
          <h3 i18n="LoginToMediaFactory|Title for login to media factory@@loginToMediaFactory">Login to Media Factory</h3>
          <p i18n="LoginToMediaFactoryText|Title for login to media factory Text@@loginToMediaFactoryText">You'll be able to access all the media available to your account</p>
        </div>
        <div class="m-login-form">
          <input type="text" class="m-input" placeholder="E-Mail Adresse" [(ngModel)]="credentials.email">
          <input type="text" class="m-input" placeholder="Password" [(ngModel)]="credentials.password">
          <button nz-button [nzLoading]="isLoadingButton" class="m-button is-primary" (click)="login()" i18n="Login|Title for Login@@login">Login</button>
        </div>
      </div>
    </div>
  </div>
</div>
