@import '../../../assets/sass/_project/_config.scss';
@import '../../../assets/sass/_global/_mixins.scss';
@import '../../../assets/sass/_project/base.scss';

.mod-gallery {
    width: 100%;
    height: 100%;

    > .m-wrapper {
        height: 100%;
        width: 100%;

        > .m-header {
            padding: 28px 50px;
            > h1 {
                @include textstyle-size-40();
                margin-bottom: 10px;
            }

            > h3 {
                margin: 0;
            }
        }

        > .m-container {
            background-color: $color-base-0;
            height: calc(100% - 145px);
            width: 100%;
            position: relative;

            > .m-filter-panel {
                height: 83px;
                border-bottom: 1px solid $color-media-black-opacity-30;
                display: flex;
                justify-content: space-between;
                padding: 25px;

                > .m-left {
                    display: flex;
                    flex-direction: row;

                    > .m-button {
                        margin-right: 10px;
                        height: 36px;
                        padding: 5px;
                        background: #e2e2e2;
                        align-items: center;
                        display: flex;
                        justify-content: center;

                        > .m-button-icon {
                            font-size: 19px;
                            color: #e2e2e2;
                            padding-top: 3px;
                        }

                        > .m-button-text {
                            font-family: 'Open Sans';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 16px;
                            color: #000000;
                            margin: 0 10px;
                        }

                        > .m-button-arrow {
                            font-size: 14px;
                            color: #000;
                        }
                    }
                }

                > .m-right {
                    display: flex;
                    flex-direction: row;
                    > .m-button {
                        margin-right: 10px;
                        height: 36px;
                        padding: 5px;
                        background: #ff8d69;
                        align-items: center;
                        display: flex;
                        justify-content: center;

                        > .m-button-icon {
                            font-size: 19px;
                            color: #e2e2e2;
                            padding-top: 3px;
                        }
                        > .m-button-text {
                            font-family: 'Open Sans';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 16px;
                            margin: 0 10px;
                        }
                    }

                    > .m-search-form {
                        border: 1px solid #e2e2e2;
                        margin-right: 25px;
                        height: 36px;
                        padding: 5px;
                    }
                }
            }

            > .m-album-items-container {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
                padding: 35px;
                grid-gap: 22px;
                max-height: 600px;
                overflow: auto;

                &::-webkit-scrollbar {
                    width: 8px;
                }

                &::-webkit-scrollbar-track {
                    background: #fff;
                }

                &::-webkit-scrollbar-thumb {
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
                    border-radius: 14px;
                    background: #eaeaea;
                }

                &::-webkit-scrollbar-thumb:hover {
                    background: #c7c7c7;
                }

                > .m-album-item-container {
                    width: 136px;
                    height: 136px;
                    background: #e2e2e2;

                    > .m-album-item-image {
                        width: 136px;
                        height: 136px;
                        object-fit: cover;
                        object-position: center;
                    }
                }
            }

            > .m-gradient {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 100px;
                z-index: 99;
                background: -moz-linear-gradient(bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
            }
        }
    }

    > .m-container {
        background-color: $color-base-0;
        height: calc(100% - 145px);
        width: 100%;

        > .m-filter-panel {
            height: 83px;
            border-bottom: 1px solid $color-media-black-opacity-30;
            display: flex;
            justify-content: space-between;
            padding: 25px;

            > .m-left {
                display: flex;
                flex-direction: row;

                > .m-button {
                    margin-right: 10px;
                    height: 36px;
                    padding: 5px;
                    background: #e2e2e2;
                    align-items: center;
                    display: flex;
                    justify-content: center;

                    > .m-button-icon {
                        font-size: 19px;
                        color: #e2e2e2;
                    }

                    > .m-button-text {
                        font-family: 'Open Sans';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 16px;
                        color: #000000;
                    }

                    > .m-button-arrow {
                        font-size: 14px;
                        color: #000;
                    }
                }
            }

            > .m-right {
                display: flex;
                flex-direction: row;
                > .m-button {
                    height: 36px;
                    padding: 5px;
                    background: #ff8d69;
                    align-items: center;
                    display: flex;
                    justify-content: center;

                    > .m-button-icon {
                        font-size: 19px;
                        color: #ff8d69;
                    }
                    > .m-button-text {
                        font-family: 'Open Sans';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 16px;
                        margin: 0 10px 0 0;
                    }
                }

                > .m-search-form {
                    border: 1px solid #e2e2e2;
                    margin-right: 25px;
                    height: 36px;
                    padding: 5px;
                }
            }
        }

        > .m-album-items-container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            padding: 35px;
            grid-gap: 22px;
            max-height: 580px;
            overflow: auto;

            &::-webkit-scrollbar {
                width: 8px;
            }

            &::-webkit-scrollbar-track {
                background: #fff;
            }

            &::-webkit-scrollbar-thumb {
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
                border-radius: 14px;
                background: #eaeaea;
            }

            &::-webkit-scrollbar-thumb:hover {
                background: #c7c7c7;
            }

            > .m-album-item-container {
                width: 136px;
                height: 136px;
                background: #e2e2e2;

                > .m-album-item-image {
                    width: 136px;
                    height: 136px;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
    }
}
