@import '../../../assets/sass/_project/_config.scss';
@import '../../../assets/sass/_global/_mixins.scss';
@import '../../../assets/sass/_project/base.scss';

.mod-drafts {
    height: 100%;

    > .m-wrapper {
        height: 100%;

        > .m-title {
          padding: 0 0 28px 51px;
          > h1 {
            margin-bottom: 10px;
          }
        }

        .m-container {
            display: flex;
            flex-wrap: wrap;
            gap: 12px;
            width: 100%;
            overflow-x: auto;
            background-color: $color-base-0;

            > .m-filter-panel {
                width: 100%;
                height: 83px;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                padding: 25px;
                @include mq(tablet) {
                    flex-direction: row;
                }
                > .m-left {
                    display: flex;
                    flex-direction: row;

                    > .m-button {
                        margin-right: 10px;
                        height: 36px;
                        padding: 5px;
                        background: $color-media-background-light-grey;
                        align-items: center;
                        display: flex;
                        justify-content: center;
                        max-width: 141px;
                        width: 100%;

                        > .m-button-icon {
                            font-size: 19px;
                            color: $color-media-background-light-grey;
                            padding-top: 3px;
                        }

                        > .m-button-text {
                            font-family: 'Open Sans';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 16px;
                            color: $color-base-100;
                        }

                        > .m-button-arrow {
                            font-size: 14px;
                            color: $color-base-100;

                            > i {
                                svg {
                                    fill: transparent;
                                }
                            }
                        }
                    }

                    > .m-remove {
                        display: flex;
                        align-items: center;
                        margin-left: 27px;
                        padding-top: 5px;
                        cursor: pointer;

                        > .m-icon-remove {
                            width: 14px;
                            height: 15px;
                        }
                    }
                }

                > .m-right {
                    margin-top: 20px;
                    @include mq(tablet) {
                        margin-top: 0;
                    }
                    > .m-button {
                        gap: 3px;
                    }
                }
            }

            > hr {
                border: 1px solid $color-media-black-opacity-30;
                margin-top: 40px;
                @include mq(tablet) {
                    margin-top: 0;
                }
            }

            > .m-content {
                padding: 25px;
                width: 100%;
                max-width: 100%;
                overflow-y: hidden;
                overflow-x: auto;

                > table {
                    > thead {
                      > tr {
                        > .m-checkbox {
                          transform: translate3d(-44px, -7px, 0);
                          width: 44px;
                            > .m-checkbox-input-all {
                                -webkit-appearance: none;
                                outline: none;
                                position: relative;
                                margin-right: 28px;
                                margin-bottom: 12px;


                                &::after {
                                    content: '';
                                    position: absolute;
                                    border: 1px solid rgba(0, 0, 0, 0.5);
                                    border-radius: 5px;
                                    width: 18px;
                                    height: 18px;
                                }

                                &:checked::after {
                                    content: url('/assets/img/check-icon.png');
                                    position: absolute;
                                    background: rgba(231, 231, 231, 0.5);
                                    width: 18px;
                                    height: 18px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                }
                            }
                        }
                      }
                    }
                    > .m-post {
                        > tr {
                            > td {

                                &:first-child {
                                    position: relative;
                                    &:after {
                                        content: '';
                                        position: absolute;
                                        border-right: 1px solid $color-media-black-opacity-30;
                                        height: 120%;
                                        right: 4px;
                                        top: -40%;
                                    }
                                }
                            }
                        }

                        &:last-child {
                            > tr {
                                > td {
                                    &:first-child {
                                        &:after {
                                            height: 160%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                @include mq(desktop) {
                    overflow-x: hidden;
                }

                > table {
                    width: max-content;

                    border-collapse: separate;
                    border-spacing: 0 20px;
                    @include mq(tablet) {
                        width: 100%;
                    }

                    > thead {
                        > tr {
                          position: relative;
                          &:before {
                            content: '';
                            border-bottom: 1px solid $color-media-black-opacity-30;
                            position: absolute;
                            width: 100%;
                            padding-top: 19px;
                        }

                            > td {
                                @include textstyle-size-10-bold();
                                color: $color-media-black-opacity-half;
                                &:nth-child(2) {
                                    padding-left: 9px;
                                }

                            }
                        }
                    }
                    > .m-post {
                        > .m-headline {
                            position: relative;



                            > .m-icon {
                                padding: 16px;

                                @include mq(desktop) {
                                    padding: 0;
                                    padding-left: 17px;
                                }
                            }
                            > .m-image {
                                padding-top: 16px;
                                padding-left: 9px;
                                width: 170px;

                                > img {
                                    max-width: 170px;
                                    max-height: 70px;
                                    width: 100%;
                                    object-fit: cover;
                                }
                            }

                            > .m-checkbox {
                              width: 44px;
                                > .m-checkbox-input {
                                    -webkit-appearance: none;
                                    outline: none;
                                    position: relative;
                                    margin-right: 28px;
                                    margin-bottom: 12px;


                                    &::after {
                                        content: '';
                                        position: absolute;
                                        border: 1px solid rgba(0, 0, 0, 0.5);
                                        border-radius: 5px;
                                        width: 18px;
                                        height: 18px;
                                    }

                                    &:checked::after {
                                        content: url('/assets/img/check-icon.png');
                                        position: absolute;
                                        background: rgba(231, 231, 231, 0.5);
                                        width: 18px;
                                        height: 18px;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                    }
                                }
                            }
                            > .m-content {
                                row-gap: 10px;
                                padding-left: 10px;
                                padding-top: 16px;
                                @include mq(tablet) {
                                  padding-left: 30px;
                              }
                                > h6 {
                                    font-weight: bold;
                                    width: 100%;
                                    margin: 0;
                                    padding-bottom: 5px;

                                }

                                > .m-account {
                                    display: flex;
                                    gap: 10px;
                                    align-items: center;
                                    > .m-image {
                                        position: relative;

                                        &.is-disconnected {
                                            filter: opacity(0.2);
                                        }

                                        > img {
                                            border-radius: 50%;
                                            display: block;
                                            object-fit: cover;
                                            width: 19px;
                                            height: 19px;
                                        }

                                        > .m-provider-logo {
                                            position: absolute;
                                            bottom: -5px;
                                            right: -5px;
                                            display: flex;

                                            > img {
                                                width: 20px;
                                                height: 20px;

                                                &.facebook {
                                                    background-color: $color-base-0;
                                                    padding: 3px;
                                                    box-shadow: 0 0 5px $color-media-light-grey;
                                                    width: 25px;
                                                    @include mq(tablet) {
                                                        width: 54px;
                                                        padding: 6px;
                                                    }
                                                }
                                            }
                                        }
                                    }

                                    > .m-name {
                                        @include textstyle-size-10();
                                        color: $color-media-black-opacity-half;
                                    }
                                }
                            }

                            > .m-date {
                                padding-top: 16px;
                                padding-right: 30px;
                                flex-wrap: wrap;
                                @include textstyle-size-10();
                                max-width: 150px;
                                > .m-create-date {
                                    @include textstyle-size-10-bold();
                                    width: 100%;
                                    margin-bottom: 0px;
                                }
                            }

                            > .m-actions {
                                display: flex;
                                flex-wrap: wrap;
                                gap: 24px;
                                padding-left: 10px;
                                padding-top: 40px;

                                > .m-left,
                                > .m-right {
                                    > .m-button {
                                        padding: 11px 18px 11px 11px;
                                        height: 36px;
                                    }
                                }
                                > .m-left{
                                  >a{
                                    > i{
                                    margin-right: 0;
                                  }
                                  }
                                }
                            }
                        }
                    }
                }

                > div > .m-item,
                > .m-item {
                    width: fit-content;
                    padding: 10px 0;
                    position: relative;

                    @include mq(desktop) {
                        padding: 0 20px 16px;
                    }

                    &.is-full {
                        width: 100%;
                    }

                    &:before {
                        content: '';
                        border-bottom: 1px solid $color-media-black-opacity-30;
                        position: absolute;
                        width: 100%;
                    }
                }
            }

            > hr {
                width: 100%;
            }
        }
    }
}
.m-delete-msg{
  margin-bottom: 0;
  margin-top: 25px;
}
