<div class="mod-drafts">
  <div class="m-wrapper">
    <div class="m-title">
      <h1 i18n="My Drafts Posts Title|Title for My Posts Page@@myDraftsPosts">
        Drafts
      </h1>
      <h3
        i18n="
          My Drafts Posts Sub Title|Title for My Posts
          Page@@myDraftsPostsSubTitle"
      >
        Here you will find all your previously published articles
      </h3>
    </div>
    <div class="m-container m-container-draft">
      <div class="m-filter-panel">
        <div class="m-left">
        <button
            nz-button
            nz-dropdown
            [(nzVisible)]="isoppenedDropdownPostType"
            nzTrigger="click"
            [nzDropdownMenu]="postType"
            nzOverlayClassName="dropdown-post-type"
            class="m-button is-secondary m-dropdown-type-post"
          >
            <div class="m-button-icon">
              <i nz-icon nzType="ng-zorro:image"></i>
            </div>
            <div
              class="m-button-text"
              i18n="postType|Title for the post type@@postType"
            >
              Post type
            </div>
            <div class="m-button-arrow">
              <i
                nz-icon
                nzType="ng-zorro:customArrow"
                *ngIf="!isoppenedDropdownPostType"
                [nzTheme]="'outline'"
              ></i>
              <i
                nz-icon
                nzType="ng-zorro:customArrow"
                *ngIf="isoppenedDropdownPostType"
                [nzTheme]="'outline'"
                style="transform: rotate(180deg);"
              ></i>
            </div>
          </button>
          <nz-dropdown-menu #postType="nzDropdownMenu"  autoClose="false" nzTrigger="click"  nzOverlayClassName="dropdown-post-type">
            <ul nz-menu>
              
              <li nz-menu-item>
                <label nz-checkbox :checked="checkedElements.include('foto')" class="m-check" (click)="addToCheckbox('foto')">
                    Foto
                </label>
              </li>
              <li nz-menu-item>
                <label nz-checkbox :checked="checkedElements.include('video')"  class="m-check" (click)="addToCheckbox('video')">
                  Video
                </label>
              </li>
            </ul>
          </nz-dropdown-menu>
          <button
            nz-button
            nz-dropdown
            [(nzVisible)]="isoppenedDropdownPostTime"
            [nzDropdownMenu]="postings"
            nzOverlayClassName="dropdown-post-time"
            nzTrigger="click"
            class="m-button is-secondary"
          >
            <div class="m-button-icon">
              <i
                nz-icon
                nzType="ng-zorro:customCalendar"
                [nzTheme]="'outline'"
              ></i>
            </div>
            <div
              class="m-button-text"
              i18n="AllPostings|Title for the All Postings@@allPostings"
            >
              All Postings
            </div>
            <div class="m-button-arrow">
              <i nz-icon nzType="ng-zorro:customArrow"  *ngIf="!isoppenedDropdownPostTime"></i>
              <i
              nz-icon
              nzType="ng-zorro:customArrow"
              *ngIf="isoppenedDropdownPostTime"
              [nzTheme]="'outline'"
              style="transform: rotate(180deg);"
            ></i>
            </div>
          </button>
          <nz-dropdown-menu #postings="nzDropdownMenu"  nzOverlayClassName="dropdown-post-time">
            <ul nz-menu>
              <li nz-menu-item>
                <label nz-checkbox :checked="checkedElements.include('allePostings')" class="m-check" (click)="addToCheckbox('allePostings')">
                  Alle Postings
                </label>
              </li>
              <li nz-menu-item>
                <label nz-checkbox :checked="checkedElements.include('letzteWoche')" class="m-check" (click)="addToCheckbox('letzteWoche')">
                  letzte Woche
                </label>
              </li>
              <li nz-menu-item>
                <label nz-checkbox :checked="checkedElements.include('letzterMonat')" class="m-check" (click)="addToCheckbox('letzterMonat')">
                  letzter Monat
                </label>
              </li>
              <li nz-menu-item>
                <label nz-checkbox :checked="checkedElements.include('letzten6Monate')" class="m-check" (click)="addToCheckbox('letzten6Monate')">
                  letzten 6 Monate
                </label>
              </li>
              <li nz-menu-item>
                <label nz-checkbox :checked="checkedElements.include('>letztesJahr')" class="m-check" (click)="addToCheckbox('letztesJahr')">
                  letztes Jahr
                </label>
                </li>

            </ul>
          </nz-dropdown-menu>
          <div class="m-remove" (click)="showRemoveDraftModal()">
            <img
              i18n-alt
              src="/assets/img/svgs/icons/remove.svg"
              alt="send icon"
              class="m-icon-remove"
            />
          </div>
        </div>
        <div class="m-right">
          <button
            class="m-button is-primary"
             routerLink="/application/create-post"
          >
            <i nz-icon nzType="ng-zorro:edit" [nzTheme]="'outline'"></i>
            <span i18n="CreateNew|Title for the Create new@@createNew">Create new</span>
          </button>
        </div>
      </div>

      <div class="m-content">
        <table *ngIf="!isLoading">
          <thead class="m-array-header">
            <tr class="m-titles" >
              <td *ngIf="posts.length != 0" class="m-checkbox" >
                <input type="checkbox" class="m-checkbox-input-all" (click)="checkAll($event)" />
              </td>
              <td
              [ngClass]="{'is-posts': posts.length != 0,  'is-empty' : posts.length == 0}"
                colspan="2"
                i18n="
                  My Published Posts Contribution|Contribution Title for My
                  Posts Page@@myPublishedPostsContribution"
              >
                Contribution
              </td>
              <td
              [ngClass]="{'is-posts': posts.length != 0,  'is-empty' : posts.length == 0}"
                i18n="
                  My Published Posts Date|Date Title for My Posts
                  Page@@myPublishedPostsDate"
              >
                Published At
              </td>
              <td
              [ngClass]="{'is-posts': posts.length != 0,  'is-empty' : posts.length == 0}"
                class="m-activity"
                i18n="
                  My Drafts Posts Activities|My Drafts Posts
                  Activities@@myDraftsActivities"
              >
                activities
              </td>
            </tr>
          </thead>
          <tbody *ngIf="posts.length == 0 && !isLoading">
            <tr>
              <td colspan="8">
                <nz-empty nzNotFoundImage="simple"></nz-empty>
              </td>
            </tr>
          </tbody>
          <tbody *ngFor="let item of posts" class="m-post">
            <tr class="m-headline">
              <td class="m-checkbox">
                <input type="checkbox" class="m-checkbox-input" [value]="item.postId" #itemValue (click)="check($event, itemValue.value)" />
              </td>
              <td class="m-icon">
                <img src="/assets/img/test-images/image.svg" alt="" *ngIf="item.postMedia.length > 0 && item.postMedia[0].type != 'video' " />
                <i nz-icon nzType="play-square" style ="color:#b2b2b2" *ngIf="item.postMedia.length > 0 && item.postMedia[0].type == 'video'"></i>
              </td>
              <td class="m-image">
                <nz-skeleton-element
                  nzType="image"
                  *ngIf="item.postMedia.length == 0"
                ></nz-skeleton-element>

                <img
                  src="{{ item.thumbnailLink? item.thumbnailLink : item.postMedia[0].url }}"
                  alt=""
                  *ngIf="item.postMedia.length > 0 && item.postMedia[0].type != 'video' "
                />

                <img
                  src="{{ item.postMedia[0].thumbnailLink }}"
                  alt=""
                  *ngIf="item.postMedia.length > 0 && item.postMedia[0].type === 'video' "
                />

              </td>

              <td class="m-content">
                <h6
                  i18n="
                    Published Post Title|Published Post Title
                    @@publishedPostTitle"
                >
                  {{ item.message }}
                </h6>

                <div class="m-account">
                  <div class="m-image">
                    <img src="{{ item.profilePicture }}" alt="" />
                    <div class="m-provider-logo">
                      <img
                        class="instagram"
                        src="{{
                          '/assets/img/test-images/' + item.provider + '.svg'
                        }}"
                        alt=""
                      />
                    </div>
                  </div>

                  <div class="m-name">{{ item.accountName }}</div>
                </div>
              </td>
              <td class="m-date">
                <p class="m-create-date">
                  {{ item.createdAt | date: "dd.MM.yyyy HH:mm" }}
                </p>
                <span class="m-text"> {{ item.createdBy }} </span>
              </td>
              <td class="m-actions">
                <div class="m-left">
                  <span
                    [routerLink]="['/application/drafts/edit' , item.postId]"
                    class="m-button is-disabled"
                  >
                    <i nz-icon nzType="ng-zorro:edit" [nzTheme]="'outline'"></i>

                    <span
                      i18n="
                        Continue Editing|Continue Editing Button
                        Text@@continueEditing"
                      >Continue editing
                    </span>
                  </span>
                </div>
                <div class="m-right">
                  <button class="m-button is-primary" (click)="showPublishDraftModal(item.postId)">
                    <img i18n-alt src="/assets/img/svgs/icons/send.svg" alt="send icon"/>
                    <span i18n="Publish|Publish Button Text@@publish">Publish</span>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <nz-pagination *ngIf="!isLoading && pageNumber > 1" [nzPageSize]="5"   [nzPageIndex]="currentPage" [nzTotal]="totalDrafts" (nzPageIndexChange)="getDrafts($event)" [nzItemRender]="renderItemTemplate"></nz-pagination>
        <ng-template #renderItemTemplate let-type let-page="page">
          <ng-container [ngSwitch]="type">
            <a *ngSwitchCase="'page'" (change)="getDrafts(page)">{{ page }}</a>
            <a *ngSwitchCase="'prev'" i18n="previous">Previous</a>
            <a *ngSwitchCase="'next'" i18n="next">Next</a>
            <a *ngSwitchCase="'prev_5'"><<</a>
            <a *ngSwitchCase="'next_5'">>></a>
          </ng-container>
        </ng-template>
        <div *ngIf="isLoading">
          <div class="m-item is-full" *ngFor="let item of [0, 1, 2, 3, 4, 5]">
            <app-item-loader></app-item-loader>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
