<div class="">
    <div class="button-container">
    <button nz-button nzType="primary" (click)="showModal()" class="m-primary-button" i18n="Add Key|Title for the Add Key@@AddKey" >
        <i nz-icon nzType="plus"></i>
        Add Key
    </button>
    </div>
<nz-table #nzTable [nzData]="dictionaries" nzTableLayout="fixed">
    <thead>
      <tr>
        <th>key</th>
        <th>value</th>
        <th>lang</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let data of nzTable.data">
        <tr>
        <td>{{ data.key }}</td>
          <td>{{ data.value }}</td>
          <td>{{ data.lang }}</td>
          <td class="m-action-buttons">
            <button nz-button nzType="primary" (click)="showUpdateModal(data)" class="m-edit-button" nzShape="circle"><i nz-icon nzType="edit"></i></button>
            <button nz-button nzType="primary" (click)="removeFromDictionaries(data , $event)" class="m-delete-button" nzShape="circle"><i nz-icon nzType="delete"></i></button>
          </td>
        </tr>
      </ng-container>
    </tbody>
</nz-table>


<nz-modal
[(nzVisible)]="isVisible"
(nzOnCancel)="handleCancel()"
[nzOkLoading]="isOkLoading"
[nzTitle]="modalTitle"
[nzContent]="modalContent"
[nzFooter]="modalFooter"
>
<ng-template #modalTitle>{{ updateMode ? 'Update '+dictionaryToUpdate.key : 'Add Key'}}</ng-template>

<ng-template #modalContent>
    <div class="m-form">
        <div class="m-form-group">
            <label class="m-form-label">key</label>
            <div class="m-form-input">
                <input nz-input type="text" placeholder="key" [(ngModel)]="key" [disabled]="updateMode" />
            </div>
            <small class="error" *ngIf="error && error.key" >{{error.key[0]}}</small>
        </div>
        <div class="m-form-group">
            <label class="m-form-label">value</label>
            <div class="m-form-input">
                <input nz-input type="text" placeholder="value" [(ngModel)]="value" />
            </div>
            <small class="error" *ngIf="error && error.value" >{{error.value[0]}}</small>
        </div>
        <div class="m-form-group">
            <label class="m-form-label">lang</label>
            <div class="m-form-input">
                <input nz-input type="text" placeholder="lang" [(ngModel)]="lang" />
            </div>
            <small class="error" *ngIf="error && error.lang" >{{error.lang[0]}}</small>
        </div>
    </div>
</ng-template>

<ng-template #modalFooter>
    <div class="button-container">
        <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
        <button nz-button nzType="primary" class="m-primary-button" (click)="onSave()" [nzLoading]="isOkLoading">save</button>
    </div>
</ng-template>
</nz-modal>

</div>