div.button-container {
    text-align: end;
    margin: 0 0 20px 0;
    > button {
        &.m-primary-button {
            background: rgba(0, 0, 0, 0.3);
            color: #fff;
            border-color: rgba(0, 0, 0, 0.3);
            &:hover {
                background: rgba(0, 0, 0, 0.4);
                border-color: rgba(0, 0, 0, 0.6);
            }
        }

        &.m-default-button {
            &:hover {
                color: rgba(0, 0, 0, 0.5);
                border-color: rgba(0, 0, 0, 0.3);
            }
        }
    }
}

.m-action-buttons {
    text-align: end;
    > button {
        margin: 0 10px;
        &.m-edit-button {
            background: rgba(0, 0, 0, 0.3);
            color: #fff;
            border-color: rgba(0, 0, 0, 0.3);
        }

        &.m-delete-button {
            background: #ff8d69;
            color: #fff;
            border-color: #ff8d69;
        }
    }
}

.m-form {
    width: 100%;
    > .m-form-group {
        margin: 20px;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 12px;
        line-height: 16px;
        font-style: normal;
        > div.m-form-input {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 0.5px solid rgba(0, 0, 0, 0.5);
            margin: 10px 0 0 0;
            > i {
                padding: 10px;
                cursor: pointer;
            }
        }
        > .error {
            color: red;
            padding: 5px 0;
        }
    }
}
