<div class="mod-my-posts">
  <div class="m-wrapper">
    <div class="m-title">
      <h1 i18n="My Posts Title|Title for My Posts Page@@myPostsTitle">
        Meine Beiträge
      </h1>
      <br />
      <h3>
        Hier findest Du all deine bisherig geplanten oder veröffentlichten
        Beiträge
      </h3>
    </div>

    <div class="m-container">
      <br />
      Ali Werghemmi
      <br />
      <hr />

      <div class="m-array-header">
        <div class="m-titles">
          <div class="m-image">Beitrag</div>
          <!-- <div class="m-space"></div> -->
          <div class="m-status">Status</div>
          <div class="m-date">Veröffentlicht am</div>
        </div>
      </div>
      <div class="m-item" *ngFor="let item of [0, 1, 2, 3, 4, 5]">
        <app-collapse-item></app-collapse-item>
      </div>
      <!-- <table class="m-table">
        <tr>
          <th>Beitrag</th>
          <th>Status</th>
          <th>Veröffentlicht am</th>
        </tr>
      </table> -->
    </div>
  </div>
</div>
