@import '../../../assets/sass/_project/_config.scss';
@import '../../../assets/sass/_project/base.scss';
@import '../../../assets/sass/_global/mixins.scss';

.mod-my-posts {
    height: 100%;
    > .m-wrapper {
        height: 100%;
        > .m-title {
            padding: 28px;

            > h1 {
                @include textstyle-size-40();
                user-select: none;
                margin: 0;
            }
        }

        > .m-container {
            display: flex;
            flex-wrap: wrap;
            gap: 12px;
            width: 100%;
            max-height: calc(100vh - 100px);
            overflow-x: auto;
            background-color: $color-base-0;
            padding: 25px;

            > .m-item {
                width: 100%;
                padding: 10px 0;

                @include mq(desktop) {
                    padding: 20px 30px;
                }
            }

            > hr {
                width: 100%;
            }
        }
    }
}
