<div class="mod-my-posts">
  <div class="m-wrapper">
    <div class="m-title">
      <h1
        i18n="
          My Published Posts Title|Title for My Posts
          Page@@myPublishedPostsTitle"
      >
        My Posts
      </h1>
      <br />
      <h3
        i18n="
          My Published Posts Sub Title|Title for My Posts
          Page@@myPublishedPostsSubTitle"
      >
        Here you will find all your previously planned or published posts
      </h3>
    </div>

    <div class="m-container">
      <div class="m-filter-panel">
        <div class="m-left">
          <button
            nz-button
            nz-dropdown
            [nzDropdownMenu]="postType"
            class="m-button is-secondary"
          >
            <div class="m-button-icon">
              <i nz-icon nzType="ng-zorro:image"></i>
            </div>
            <div class="m-button-text">Beitragsart</div>
            <div class="m-button-arrow">
              <i
                nz-icon
                nzType="ng-zorro:customArrow"
                [nzTheme]="'outline'"
              ></i>
            </div>
          </button>
          <nz-dropdown-menu #postType="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item>menu4 1st menu item</li>
              <li nz-menu-item>menu4 2nd menu item</li>
              <li nz-menu-item>menu4 3rd menu item</li>
            </ul>
          </nz-dropdown-menu>
          <button
            nz-button
            nz-dropdown
            [nzDropdownMenu]="postings"
            class="m-button is-secondary"
          >
            <div class="m-button-icon">
              <i
                nz-icon
                nzType="ng-zorro:customCalendar"
                [nzTheme]="'outline'"
              ></i>
            </div>
            <div class="m-button-text">Alle Postings</div>
            <div class="m-button-arrow">
              <i nz-icon nzType="ng-zorro:customArrow"></i>
            </div>
          </button>
          <nz-dropdown-menu #postings="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item>menu4 1st menu item</li>
              <li nz-menu-item>menu4 2nd menu item</li>
              <li nz-menu-item>menu4 3rd menu item</li>
            </ul>
          </nz-dropdown-menu>
        </div>
        <div class="m-right">
          <button class="m-button is-primary">
            <i nz-icon nzType="ng-zorro:edit" [nzTheme]="'outline'"></i>
            Neu erstellen
          </button>
        </div>
      </div>
      <hr />
      <div class="m-content">
        <div class="m-array-header">
          <div class="m-titles">
            <div
              class="m-image"
              i18n="
                My Published Posts Contribution|Contribution Title for My Posts
                Page@@myPublishedPostsContribution"
            >
              Contribution
            </div>
            <div
              class="m-status"
              i18n="
                My Published Posts Status|Status Title for My Posts
                Page@@myPublishedPostsStatus"
            >
              Status
            </div>
            <div
              class="m-date"
              i18n="
                My Published Posts Date|Date Title for My Posts
                Page@@myPublishedPostsDate"
            >
              Published At
            </div>
          </div>
        </div>

        <table *ngIf="!isLoading">
          <tbody *ngFor="let item of posts" class="m-post">
            <tr class="m-headline">
              <td class="m-icon">
                <img src="/assets/img/test-images/image.svg" alt="" />
              </td>
              <td class="m-image">
                <img src="{{ item.postMedia[0].url }}" alt="" />
              </td>

              <td class="m-content">
                <h6
                  i18n="
                    Published Post Title|Published Post Title
                    @@publishedPostTitle"
                >
                  {{ item.message }}
                </h6>

                <div class="m-account">
                  <div class="m-image">
                    <img src="{{ item.profilePicture }}" alt="" />
                    <div class="m-provider-logo">
                      <img
                        class="instagram"
                        src="{{
                          '/assets/img/test-images/' + item.provider + '.svg'
                        }}"
                        alt=""
                      />
                    </div>
                  </div>

                  <div class="m-name">{{ item.accountName }}</div>
                </div>
              </td>
              <td class="m-status">
                <nz-badge nzStatus="warning" *ngIf="item.isScheduled">
                  <span class="m-text">Planned</span>
                </nz-badge>
                <nz-badge nzStatus="success" *ngIf="!item.isScheduled">
                  <span class="m-text">Success</span>
                </nz-badge>
              </td>
              <td class="m-date">
                <p class="m-create-date">
                  {{ item.createdAt | date: "dd-MM-yyyy HH:mm" }}
                </p>
                <span class="m-text"> Max Mustermann </span>
              </td>
              <td class="m-collapse" (click)="collapse($event)">collapse</td>
            </tr>
            <tr class="m-details">
              <td></td>
              <td class="m-item">
                <div class="m-container">
                  <span class="m-number">{{ item.stats.shares }}</span>
                  <span
                    class="m-text"
                    i18n="
                      Published Post Reached People|Published Post Reached
                      People @@publishedPostShares"
                    >Shares</span
                  >
                </div>
              </td>
              <td class="m-item">
                <div class="m-container">
                  <span class="m-number">{{ item.stats.likes }}</span>
                  <span
                    class="m-text"
                    i18n="
                      Published Post Likes|Published Post Likes
                      @@publishedPostLikes"
                    >Likes</span
                  >
                </div>
              </td>
              <td class="m-item">
                <div class="m-container">
                  <span class="m-number">{{ item.stats.comments }}</span>
                  <span
                    class="m-text"
                    i18n="
                      Published Post Comments|Published Post Comments
                      @@publishedPostComments"
                    >Comments</span
                  >
                </div>
              </td>
              <td class="m-item">
                <a class="m-button is-grey" href="{{ item.url }}">
                  <span><i nz-icon nzType="ng-zorro:external-link"></i></span>
                  <span
                    i18n="
                      Published Post Go To|Published Post Go
                      To@@publishedPostGoTo"
                  >
                    Go to
                  </span>
                </a>
              </td>
            </tr>
          </tbody>
        </table>

        <div *ngIf="isLoading">
          <div class="m-item is-full" *ngFor="let item of [0, 1, 2, 3, 4, 5]">
            <app-item-loader></app-item-loader>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
