@import '../../../../../assets/sass/_project/_config.scss';
@import '../../../../../assets/sass/_global/_mixins.scss';
@import '../../../../../assets/sass/_project/base.scss';


.mod-post-detail{
    background: white;
    padding: 19px 0 108px 0;

    >.m-wrapper{
        width: 100%;
        padding-left: 20px;

        @include mq(desktop){
            width : 608px ;
            padding-left: 120px;
        }

        >.m-header{


            margin-bottom : 46px ;
            margin-right: 50px;

            @include mq(desktop){
              text-align: end;
                margin-right: 0px;
            }

            >a {
                font-weight: 400;
                font-size: 12px;
                line-height: 138.68%;
                color: $color-media-black-opacity-half;
            }
        }

        >.m-container{
            margin-right: 50px;

            >.m-post-detail-date{
                font-weight: 400;
                font-size: 12px;
                line-height: 138.68%;
                color: $color-media-black-opacity-half;
            }

            >.m-post-detail-title{
                font-weight: 700;
                font-size: 24px;
                line-height: 138.68%;
            }

            >.m-post-detail-img{
                margin-top: 24px;


                >img{
                    width: 100%;
                    height: 180px;
                    object-fit: cover;
                    object-position: center;

                    @include mq(tablet){
                        width: 608px;
                        height: 349px;
                    }
                }

            }

            .m-post-detail-description{
              @include fontfamily-primary;
                margin : 48px 0;
                font-weight: 400;
                font-size: 16px;
                line-height: 160.68%;
            }

            .m-text-media-container{

                >.m-post-detail-subtitle{
                    font-style: italic;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 138.68%;
                }

                >.m-post-detail-img{
                    >img{
                        width: 100%;
                        height: 150px;
                        object-fit: cover;
                        object-position: center;

                        @include mq(tablet){
                            width: 608px;
                            height: 260px;
                        }
                    }
                }
            }


        }

        >.m-support-footer{
            font-weight: 400;
            font-size: 16px;
            line-height: 160.68%;

            >.m-info{
                font-weight: 700;
            }
        }
    }
}
