<div class="mod-post-detail">
    <div class="m-wrapper">
        <div class="m-header">
           <a href="/application/dashboard/blog-posts" i18n="back|Title for the back@@back"> Back to overview </a>
        </div>
        <div class="m-container">
            <div class="m-post-detail-title">{{news.title}}</div>
            <div class="m-post-detail-img">
                <img nz-image [nzSrc]="news.img" alt="">
            </div>
            <div class="m-post-detail-description">
                {{news.teaser}}
            </div>
            <div class="m-text-media-container" *ngFor="let item of news.text_media_news">
                <div class="m-post-detail-subtitle">
                    {{item.title}}
                </div>
                <div class="m-post-detail-description">
                    {{item.subtitle}}
                </div>
                <div class="m-post-detail-img">
                    <img nz-image [nzSrc]="item.img" alt="">
                </div>
                <div class="m-post-detail-description">
                    {{item.description}}
                </div>
            </div>
        </div>
        <div class="m-support-footer">
            <div class="m-info" i18n="support team|Title for the support team@@supportTeam" >If you have any questions, our support team is at your side: </div>
            <div class="m-tel">Tel.: +49 (0) 1234 56778</div>
            <div class="m-mail">Mail: support@smpt.com</div>
        </div>
    </div>
</div>
