.mod-post-detail{
    background: white;
    padding: 25px 0 108px 0;

    >.m-wrapper{
        width: 608px;
        margin-left: 120px;

        >.m-header{
            
            text-align: end;
            margin-bottom : 46px ;
            >a {
                font-weight: 400;
                font-size: 12px;
                line-height: 138.68%;
                color: rgba(0, 0, 0, 0.5);
            }
        }

        >.m-container{

            >.m-post-detail-date{
                font-weight: 400;
                font-size: 12px;
                line-height: 138.68%;
                color: rgba(0, 0, 0, 0.5);
            }

            >.m-post-detail-title{
                font-weight: 700;
                font-size: 24px;
                line-height: 138.68%;
            }

            >.m-post-detail-img-1{
                margin-top: 24px;

                >img{
                    width: 608px;
                    height: 349px;
                    object-fit: cover;
                    object-position: center;
                }

            }

            >.m-post-detail-description{
                margin : 48px 0;
                font-weight: 400;
                font-size: 16px;
                line-height: 160.68%;
            }

            >.m-post-detail-subtitle{
                font-style: italic;
                font-weight: 600;
                font-size: 24px;
                line-height: 138.68%;
            }

            >.m-post-detail-img-2{
                >img{
                    width: 608px;
                    height: 260px;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }

        >.m-support-footer{
            font-weight: 400;
            font-size: 16px;
            line-height: 160.68%;

            >.m-info{
                font-weight: 700;
            }
        }
    }
}