.mod-facebook-pages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    > .m-page {
        border-radius: 5px;
        margin: 96px 17px 43px 20px;
        background-color: #e4efff;
        width: 274px;
        height: 325px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        &:hover {
            transition: 0.3s all;
            border: 2px solid white;
            user-select: none;
        }

        > .m-page-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            overflow: hidden;

            > .m-img-container {
                box-shadow: 0px 0px 3px 0px;
                position: absolute;
                top: -66px;
                border: 3px solid white;
                width: 150px;
                height: 150px;
                border-radius: 50%;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;

                > .m-picture {
                    width: 180px;
                }
            }

            > .m-category {
                text-align: center;
            }

            > .m-page-name {
                text-align: center;
                font-weight: 700;
                font-size: 23px;
            }

            > .m-icon {
                    // display: none;
                svg {
                    width: 30px;
                    height: 30px;
                    color: blue;
                }
            }

            > .m-account {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 59px;
                padding-top: 10px;
                background-color: #367bc3;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
                color: white;
                font-size: 25px;
                font-weight: 500;
                text-align: center;
                overflow: hidden;

                > div {
                    > .m-button {
                        font-size: 16px;
                        margin: auto;
                        border-radius: 8px;
                        background-color: #1d446c;
                        width: 104px;
                        border: none;
                        height: 38px;
                        color: white;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                    }
                    > .m-title {
                        margin-bottom: 15px;
                    }
                }

                &:hover {
                    >div {
                        transition: 0.2s all;
                        transform: translateY(-53px);
                    }
                }
            }
        }
    }
}