
<div class="m-form">
    <div class="m-form-group">
        <label>current password</label>
        <div>
            <input nz-input [type]=" showCurrentPassword ? 'text' : 'password' " placeholder="current password" [(ngModel)]="currentPassword" />
            <i nz-icon nzType="eye" nzTheme="outline" *ngIf="!showCurrentPassword" (click)="showCurrentPasswordAction()"></i>
            <i nz-icon nzType="eye-invisible" nzTheme="outline" *ngIf="showCurrentPassword" (click)="showCurrentPasswordAction()"></i>
        </div>
        <small class="error" *ngIf="error && error.currentPassword" >{{error.currentPassword[0]}}</small>
    </div>
    <div class="m-form-group">
        <label>new password</label>
        <div>
            <input nz-input [type]=" showNewPassword ? 'text' : 'password' " placeholder="new password" [(ngModel)]="newPassword" [disabled]="!currentPassword" />
            <i nz-icon nzType="eye" nzTheme="outline" *ngIf="!showNewPassword" (click)="showNewPasswordAction()"></i>
            <i nz-icon nzType="eye-invisible" nzTheme="outline" *ngIf="showNewPassword" (click)="showNewPasswordAction()"></i>
        </div>
        <small class="error" *ngIf="error && error.password" >{{error.password[0]}}</small>
    </div>
    <div class="m-form-group">
        <label>confirm new password </label>
        <div>
            <input nz-input [type]=" showPasswordConfirmation ? 'text' : 'password' " placeholder="confirm new password " [(ngModel)]="passwordConfirmation" [disabled]="!currentPassword" />
            <i nz-icon nzType="eye" nzTheme="outline" *ngIf="!showPasswordConfirmation" (click)="showPasswordConfirmationAction()"></i>
            <i nz-icon nzType="eye-invisible" nzTheme="outline" *ngIf="showPasswordConfirmation" (click)="showPasswordConfirmationAction()"></i>    
        </div>
        <small class="error" *ngIf="error && error.passwordConfirmation" >{{error.passwordConfirmation[0]}}</small>
    </div>
    <button nz-button nzType="primary" nzShape="round" class="m-primary-button" (click)="saveNewPassword()" >
        <i nz-icon nzType="edit" nzTheme="outline"></i>
        Edit
    </button>
</div>