@import '../../../../../assets/sass/_project/_config.scss';
@import '../../../../../assets/sass/_global/_mixins.scss';
@import '../../../../../assets/sass/_project/base.scss';

.mod-create-user{
    .m-wrapper{
        >.m-header{
            padding: 18px;
            font-size: 2.5rem;
            line-height: 1.36175;
            text-transform: capitalize;
            font-weight: 400;
            >h1{
                color: $color-media-black-opacity-half;
            }
        }
        .m-form {
            width : 100%;
            background: white;
            padding: 20px;

            @include mq(desktop){
                width : 50%;
            }

            >.m-form-group{
                margin : 20px;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 12px;
                line-height: 16px;
                font-style: normal;
                >.m-form-input{
                    display : flex;
                    justify-content:center;
                    align-items: center;
                    border: 1px solid $color-media-primary-orange;
                    height: 45px;
                    margin: 10px 0 0 0;

                    >input{
                        height: 100%;
                        
                        &:focus , &:hover{
                            border-color: $color-media-dark-orange;
                        }
                    }

                    >i{
                        padding: 10px ;
                        cursor: pointer;
                    }
                }
                >.m-form-input-password{
                    display : flex;
                    justify-content:center;
                    align-items: center;
                    border: 1px solid $color-media-primary-orange;
                    height: 45px;
                    margin: 10px 0 0 0;

                    >input{
                        height: 100%;

                        &:focus , &:hover{
                            border-color: $color-media-dark-orange;
                        }
                    }

                    >i{
                        padding: 15px ;
                        cursor: pointer;
                        height: 100%;
                        background: $color-media-primary-orange;
                        color: $color-white;
                        font-size: 15px;
                    }
                }
                >.error {
                    color : red;
                    padding: 5px 0;
                }

                nz-switch{
                    margin: 10px 0 0 0;
                }
            }
        
            >button{
                margin : 20px;
                height: 39px;
                padding: 10px 30px;
                display: flex;
                align-items: center;
                gap: 10px;

                &.m-primary-button{
                    background: $color-media-primary-orange;
                    color: $color-white;
                    border-color: $color-media-primary-orange;
                    &:hover{
                        background: $color-media-dark-orange;
                    }
                }
            }
        }
    }
}
