// ==========================================================================
// BASE STYLES
// ==========================================================================

html,
body,
label,
input,
button,
select,
textarea,
svg,
p,
a,
dl,
ol,
ul,
menu,
h1,
h2,
h3,
h4,
h5,
h6 {
    @include textstyle-standard();
    color: $color-standard;
    margin: 0;
    padding: 0;
}

h1 {
    @include textstyle-size-90();
}

h2 {
    @include textstyle-size-70();
}

h3 {
    @include textstyle-size-70();
}

html {
    height: 100%;
    overflow-y: scroll; // hier bei html wg magnificpopup
    overflow-x: hidden;
    // http://www.paulirish.com/2012/box-sizing-border-box-ftw/
    box-sizing: border-box;
    font-size: 100%; // default 16px
    scroll-behavior: smooth;

    &.no-scroll {
        overflow-y: hidden;
    }
}

body {
    min-width: 320px;
    background-color: $color-bg;
    // -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 0;
    // verhindert verticals scrolling smartphone
    .is-ichwillfair &{
        overflow-x: hidden;
    }
}

b,
strong {
    font-weight: 700;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

ul {
    list-style: none;
}

// Remove text-shadow in selection highlight: h5bp.com/i
// These selection declarations have to be separate.
// Customize the background color to match your design.
::-moz-selection {
    text-shadow: none;
    background: $color-selection;
}

::selection {
    text-shadow: none;
    background: $color-selection;
}

// A better looking default horizontal rule
hr {
    display: block;
    height: 1px;
    border: none;
    border-top: 1px solid $color-standard;
    margin: 1em 0;
    padding: 0;
}

// Remove the gap between images and the bottom of their containers: h5bp.com/i/440
img,
audio,
canvas,
video {
    vertical-align: middle;
}

// Remove default fieldset styles.
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

figure {
    margin: 0;
    padding: 0;
}

img {
    @extend %img;
}

a,
button {
    display: block;
    @extend %focus;
}
