@import '../../../../../assets/sass/_project/base.scss';
@import '../../../../../assets/sass/_global/mixins';
@import '../../../../../assets/sass/_project/_mixins-fonts.scss';
.mod-collapse-item {
    > .m-wrapper {
        > .m-table {
            overflow-x: auto;

            > .m-container {
                min-width: 600px;
                max-width: 100%;
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                align-items: center;

                @include mq(xl) {
                    gap: 10px;
                }

                > .m-icon {
                    width: 5%;
                }

                > .m-image {
                    width: 15%;
                }

                > .m-content {
                    width: 30%;
                    display: flex;
                    flex-wrap: wrap;
                    > h6 {
                        font-weight: bold;
                        width: 100%;
                        margin: 0;
                    }
                }

                > .m-status {
                    width: 20%;
                }

                > .m-date {
                    width: 20%;
                    display: flex;
                    flex-wrap: wrap;
                    @include textstyle-size-10();
                    > .m-create-date {
                        @include textstyle-size-10-bold();
                        width: 100%;
                    }
                }

                > .m-collapse {
                    content: url('../../../../../assets/img/test-images/arrow-down.svg');
                    background-size: cover;
                    height: 20px;
                    width: 20px;
                    transition: all 2s ease-out;
                    transform: rotate(180deg);
                }
            }
        }
    }
}
