@import '../../../../../assets/sass/_global/mixins';
@import '../../../../../assets/sass/_project/_mixins-fonts.scss';
@import '../../../../../assets/sass/_project/base.scss';
.mod-collapse-item {
    > .m-wrapper {
        padding: 0 24px;
        > .m-table {
            overflow-y: hidden;
            overflow-x: auto;

            > .m-container {
                min-width: 600px;
                max-width: 100%;
                width: 100%;
                display: flex;
                flex-wrap: nowrap;
                align-items: center;
                gap: 10px;

                @include mq(desktop) {
                    gap: 25px;
                }

                > .m-icon {
                    padding: 0;
                }

                > .m-image {
                    > img {
                        height: 70px;
                    }
                }

                > .m-content {
                    display: flex;
                    flex-wrap: wrap;
                    row-gap: 10px;

                    @include mq(desktop) {
                        padding-left: 10px;
                    }

                    > h6 {
                        font-weight: bold;
                        width: 100%;
                        margin: 0;
                    }

                    > .m-account {
                        display: flex;
                        gap: 10px;
                        align-items: center;
                        > .m-image {
                            position: relative;
                            &.is-disconnected {
                                filter: opacity(0.2);
                            }

                            > img {
                                border-radius: 50%;
                                display: block;
                                object-fit: cover;
                                width: 40px;
                                height: 40px;
                                // width: 19px;
                                // height: 19px;
                            }

                            > .m-provider-logo {
                                position: absolute;
                                bottom: -5px;
                                right: -5px;
                                // bottom: 0;
                                // right: 0;
                                display: flex;

                                > img {
                                    width: 20px;
                                    height: 20px;
                                    // width: 9px;
                                    // height: 9px;

                                    &.facebook {
                                        background-color: $color-base-0;
                                        padding: 3px;
                                        box-shadow: 0 0 5px $color-media-light-grey;
                                        width: 25px;
                                        @include mq(tablet) {
                                            width: 54px;
                                            padding: 6px;
                                        }
                                    }
                                }
                            }
                        }

                        > .m-name {
                            @include textstyle-size-10();
                            color: $color-media-black-opacity-half;
                        }
                    }
                }

                > .m-status {
                    min-width: 180px;

                    .m-text {
                        @include textstyle-size-10();
                    }
                }

                > .m-date {
                    display: flex;
                    flex-wrap: wrap;
                    @include textstyle-size-10();
                    > .m-create-date {
                        @include textstyle-size-10-bold();
                        width: 100%;
                    }
                }

                > .m-collapse {
                    content: url('../../../../../assets/img/test-images/arrow-down.svg');
                    background-size: cover;
                    height: 20px;
                    width: 20px;
                    transition: all 2s ease-out;
                    transform: rotate(180deg);
                }
            }
        }
    }
}
