<!-- <p>
  <br />
  <button
    type="button"
    class="btn btn-success"
    (click)="collapse.toggle()"
    [attr.aria-expanded]="!gfg"
    aria-controls="collapseExample"
  >
    Click to collapse
  </button>
</p>

<div #collapse="ngbCollapse" [(ngbCollapse)]="gfg">
  <div class="card">
    <div class="card-body">Angular10 ng bootstrap</div>
  </div>
</div> -->

<div class="mod-collapse-item">
  <div class="m-wrapper">
    <div class="m-table">
      <div class="m-container">
        <div class="m-icon">
          <img src="/assets/img/test-images/image.svg" alt="" />
        </div>
        <div class="m-image">
          <img src="/assets/img/test-images/my-post.png" alt="" />
        </div>
        <div class="m-content">
          <h6>Titel des Postings</h6>

          <div class="m-account">
            <div class="m-image">
              <img src="/assets/img/test-images/ttl.png" alt="" />
              <div class="m-provider-logo">
                <img src="/assets/img/test-images/instagram.svg" alt="" />
              </div>
            </div>

            <div class="m-name">accountname.test</div>
          </div>
        </div>
        <div class="m-status">
          <nz-badge nzStatus="success">
            <span class="m-text">Success</span>
          </nz-badge>
        </div>
        <div class="m-date">
          <div class="m-create-date">12.05.2022 15:30</div>
          <br />Max Mustermann
        </div>
        <div class="m-collapse"></div>
      </div>
    </div>
  </div>
  <hr />
</div>
