
@import '../../../../../assets/sass/_project/_config.scss';
@import '../../../../../assets/sass/_global/_mixins.scss';
@import '../../../../../assets/sass/_project/base.scss';

.mod-profile-container{
  >.m-wrapper{

    >.m-header-container{

      >.m-header-image{
        height: 147px;
        background: $color-media-dark-orange;
        border-radius: 22px 22px 0 0;

        >.m-primary-button{
          height: 39px;
          background: $color-white;
          color: $color-media-dark-orange;
          padding: 10px 40px;
          border-color: $color-media-dark-orange;

          &.m-corner{
            border-radius: 22px 0 0 0;
          }
        }
      }

      >.m-user-profile{
        display: flex;
        align-items: center;
        background: $color-white;

        >.m-user-image{
          margin: -54px 0 0 10px;

          @include mq(mobilebig){
            margin: -54px 0 0 40px;
          }

          >.ant-avatar{
            
            @include mq(mobilebig){
              width: 120px !important;
              height: 120px !important;
              line-height: 100px !important;
              font-size: 72px !important;
            }
          }
        }

        >.m-user-info{
          margin-top: -35px;
          padding-left: 10px;
          color: $color-media-black;

          @include mq(mobilebig){
            padding-left: 20px;
            margin-top: -40px;
          }

          >.m-user-name{
            font-size: 18px;
            color: $color-white;
            font-weight: 600;

            @include mq(mobilebig){
              font-size: 20px;
            }

          }

          >.m-user-title{
            font-size: 18px;
            font-weight: 600;

            @include mq(mobilebig){
              font-size: 20px;
            }

          }
        }
      }
    }

    >.m-main-container{
      background: $color-white;
      padding: 20px;
      border-radius: 5px;
      display: flex;

      >.m-profile-detail{

        list-style: none;
        display: flex;
        flex-direction: column;
        row-gap: 12px;
        font-size: 18px;

        >.m-profile-detail-item{

          >.m-label{
              font-weight: 700;
              text-transform: capitalize;
          }
        }
      }
    }
  }
}