div {
    div.button-container {
        text-align: end;
        margin : 0 0 20px 0;
        >button{
            margin : 0 0 0 20px;
        }
    }
} 

.m-permission-block{
    >.m-permission-tag{
        width:max-content ;
    }
}

