<div class="mod-sidebar">
  <div class="m-wrapper">
    <ul
      nz-menu
      nzTheme="dark"
      nzMode="inline"
      [nzInlineCollapsed]="isCollapsed"
      class="m-menu"
    >
      <li class="m-item">
        <span class="m-icon dashboard">
          <i nz-icon nzType="ng-zorro:dashboard"></i>
        </span>
        <a
          routerLink="./dashboard"
          i18n="Dashboard|Title for the Dashboard page link@@dashboard"
          class="m-label m-menu-item"
          >Dashboard</a
        >
      </li>
      <li class="m-item">
        <span class="m-icon accounts">
          <i nz-icon nzType="ng-zorro:profile"></i>
        </span>
        <a
          routerLink="./accounts"
          i18n="Accounts|Title for the Accounts page link@@accounts"
          class="m-label m-menu-item"
          >Accounts</a
        >
      </li>

      <li class="m-item">
        <span class="m-icon drafts">
          <i nz-icon nzType="ng-zorro:folder"></i>
        </span>
        <a
          routerLink="./drafts"
          i18n="Drafts|Title for the Drafts page link@@drafts"
          class="m-label m-menu-item"
          >Drafts</a
        >
      </li>

      <li class="m-item">
        <span class="m-icon create-post">
          <i nz-icon nzType="ng-zorro:edit"></i>
        </span>
        <a
          routerLink="./create-post"
          i18n="Create Post|Title for the Create Post form@@createPost"
          class="m-label m-menu-item"
          >Create Post</a
        >
      </li>

      <li class="m-item">
        <span class="m-icon my-album">
          <i nz-icon nzType="ng-zorro:album"></i>
        </span>
        <a
          routerLink="./my-album"
          i18n="My Album|Title for the Album page@@myAlbum"
          class="m-label m-menu-item"
          >My Album</a
        >
      </li>

      <li class="m-item">
        <span class="m-icon published-posts">
          <i nz-icon nzType="ng-zorro:send"></i>
        </span>
        <a
          routerLink="./published-posts"
          i18n="
            Published Posts|Title for the Published Posts page@@publishedPosts"
          class="m-label m-menu-item"
          >Published Posts</a
        >
      </li>

      <li class="m-item" *ngIf="checkRole('companyadmin')">
        <i
          nz-icon
          [nzType]="'setting'"
          [nzTheme]="'outline'"
          class="m-icon"
        ></i>
        <a
          routerLink="./management/users-list"
          i18n="Managment Users|Title for the Managment Users@@managmentUsers"
          class="m-label m-menu-item"
          >Managment Users</a
        >
      </li>

      <li class="m-item" *ngIf="checkRole('admin')">
        <img
          i18n-alt
          src="/assets/img/svgs/icons/send.svg"
          alt="send icon"
          class="m-icon"
        />
        <a
          routerLink="/application/administration/dictionaries"
          i18n="Dictionaries|Title for the Dictionaries@@dictionaries"
          class="m-label m-menu-item"
          >Dictionaries</a
        >
      </li>
    </ul>
  </div>
</div>
<!-- 
<div class="sidebar-logo">
  <a href="https://ng.ant.design/" target="_blank">
    <img i18n-alt src="/assets/img/svgs/mgo360-logo.svg" alt="logo" />
  </a>
</div>
<ul
  nz-menu
  nzTheme="dark"
  nzMode="inline"
  [nzInlineCollapsed]="isCollapsed"
  class="m-menu"
>
  <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
    <ul>
      <li nz-menu-item>
        <i nz-icon nzType="home" nzTheme="outline"></i>
        <a routerLink="/home" i18n="Home|Title for the home page link@@home"
          >&nbsp;&nbsp;Home</a
        >
      </li>
    </ul>
  </li>
  <li
    nz-submenu
    nzOpen
    nzTitle="Social Accounts"
    nzIcon="global"
    nzSize="large"
  >
    <ul>
      <li nz-menu-item nzMatchRouter>
        <i nz-icon nzType="group" nzTheme="outline"></i>
        <a
          routerLink="/application/social-accounts/accounts-management"
          i18n="
            Accounts Management|Title for the accounts management
            feature@@accountsManagement"
          >&nbsp;&nbsp;Accounts management</a
        >
      </li>
      <li nz-menu-item nzMatchRouter>
        <i nz-icon nzType="schedule"></i>
        <a
          routerLink="/home/social-accounts/pages"
          i18n
          i18n="Approved Pages|Title for the approved pages list@@approvedList"
          >&nbsp;&nbsp;Approved pages</a
        >
      </li>
      <li nz-menu-item nzMatchRouter>
        <i nz-icon nzType="plus"></i>
        <a
          routerLink="/home/social-accounts/create-post"
          i18n="Create Post|Title for the create post form@@createPost"
          >&nbsp;&nbsp;Create post</a
        >
      </li>
      <li nz-menu-item nzMatchRouter>
        <i nz-icon nzType="delete" nzTheme="outline"></i>
        <a
          routerLink="/home/social-accounts/draft"
          i18n="Draft List|Title for the drafts list action@@draftsList"
          >&nbsp;&nbsp;Draft</a
        >
      </li>
    </ul>
  </li>
  <li
    nz-submenu
    nzOpen
    nzTitle="Users Management"
    nzIcon="user-switch"
    nzSize="large"
    *ngIf="checkRole('companyadmin')"
  >
     <ul>
      <li nz-menu-item nzMatchRouter>
        <i nz-icon nzType="ordered-list" nzTheme="outline"></i>
        <a routerLink="/home/management/users-list"
          >&nbsp;&nbsp;Users list</a
        >
      </li>
    </ul> 
  </li>
  <li nz-menu-item routerLink="/auth/login">
    <i nz-icon nzType="logout"></i>
    <span i18n="Logout|Title for the logout action@@logout">LogOut</span>
  </li>
</ul> -->
