<div class="sidebar-logo">
  <a href="https://ng.ant.design/"
     target="_blank">
    <img src="/assets/img/svgs/mgo360-logo.svg"
         alt="logo" />
    <!-- <h1>Ant Design Of Angular</h1> -->
  </a>
</div>
<ul nz-menu
    nzTheme="dark"
    nzMode="inline"
    [nzInlineCollapsed]="isCollapsed">
  <li nz-submenu
      nzOpen
      nzTitle="Dashboard"
      nzIcon="dashboard">
    <ul>
      <li nz-menu-item>
        <a routerLink="/home">Home</a>
      </li>
      <li nz-menu-item>
        <a routerLink="/home/welcome">Welcome</a>
      </li>
      <li nz-menu-item>
        <a routerLink="/home/facebook">Meta</a>
      </li>
      <li nz-menu-item>
        <a>Workplace</a>
      </li>
    </ul>
  </li>
  <li nz-submenu
      nzOpen
      nzTitle="Form"
      nzIcon="form">
    <ul>
      <li nz-menu-item
          nzMatchRouter>
        <a>Basic Form</a>
      </li>
    </ul>
  </li>

  <li nz-submenu
      nzOpen
      nzTitle="Social Accounts"
      nzIcon="global">
    <ul>
      <li nz-menu-item
          nzMatchRouter>
        <a>Facebook</a>
      </li>
    </ul>
  </li>
  <li nz-menu-item
      
      routerLink="/auth/login">
        <i nz-icon nzType="login"></i>
        <span>LogOut</span>
    </li>
</ul>
