<div class="carousel" data-carousel>
    <button class="carousel-button prev" id="prev" data-carousel-button="prev"><img src="../../../../assets/img/svgs/left-arrow.svg"></button>
    <button class="carousel-button next" id="next" data-carousel-button="next"><img src="../../../../assets/img/svgs/right-arrow.svg"></button>
    <ul id="data-slides" data-slides>
        <li class="slide active" data-active>
            <img id="first" src="../../../../../assets/img/no-image.jpg" alt="image #1">
        </li>
        <!-- <li class="slide">
            <img src="https://static.remove.bg/remove-bg-web/669d7b10b2296142983fac5a5243789bd1838d00/assets/start-1abfb4fe2980eabfbbaaa4365a0692539f7cd2725f324f904565a9a744f8e214.jpg" alt="image #2">
        </li>
         <li class="slide">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTrKHPsvNDJHY9tWpkHrfkfo8Dkf0LvZU3Hdg&usqp=CAU" alt="image #3">
        </li>
        <li class="slide">
            <img src="https://www.researchgate.net/profile/Hanhe-Lin/publication/344400221/figure/fig1/AS:940579932348417@1601263139233/SAN-and-Tarsier-on-the-baboon-image-from-Set-14-The-image-generated-by-SAN-is-visibly.ppm" alt="image #4">
        </li> -->
    </ul>
    
    <ul class="m-dots">
        <li style="filter: opacity(1);"><img src="../../../../assets/img/svgs/dot.svg" alt="#image1"></li>
        <!-- <li><img src="../../../../assets/img/svgs/dot.svg" alt="#image2"></li>
        <li><img src="../../../../assets/img/svgs/dot.svg" alt="#image3"></li>
        <li><img src="../../../../assets/img/svgs/dot.svg" alt="#image4"></li> -->
    </ul>
</div>