.m-carousel {
    width: 100%;
    height: 387px;
    position: relative;

    > .m-no-image {
        position: absolute;
        left: 50%;
        width: 117px;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
        user-select: none;
    }

    > #data-slides {
        transition: all 0.3s;
        margin: 0;
        padding: 0;
        list-style: none;
        height: 100%;
        display: flex;
    }

    > .m-input-tag {
        position: absolute;
        width: 100%;
        bottom: 0;
        display: none;
        z-index: 3;
        opacity: 0.4;
        transition: 0.3s all;

        &:hover {
            opacity: 0.8;
        }

        &.is-shown {
            z-index: 3;
            display: block !important;
        }
    }

    > .m-tooltip{
        user-select: none;
        display: none;
        background: #000;
        border-radius: 6px;
        bottom: 135%;
        font-size: 16px;
        color: #fff;
        width: 94px;
        height: 35px;
        opacity: 1;
        padding: 4px 4px;
        position: absolute;
        text-align: center;
        transform: translateX(-50%);
        left: 50%;

        &::before {
            content: '';
            border-color: transparent transparent #000 transparent;
            border-style: solid;
            border-width: 10px;
            left: 42%;
            position: absolute;
            top: -49%;
        }

        &.is-shown {
            z-index: 3;
            display: block !important;
        }
    }
}

.m-slide-insta {
    inset: 0;
}

.m-slide-insta {
    position: relative;

    >.m-view-mentions {
        display: none !important;
    }

    > .m-post-photo {
        width: 100%;
    }
}

.m-slide-insta > img {
    display: block;
    width: 360px;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.m-carousel-button {
    z-index: 2;
    position: absolute;
    top: 50%;
    background-color: transparent;
    transform: translateY(-50%);
    border-radius: 50%;
    outline: 0px;
    border: 0px;
    line-height: 5px;
    width: 20px;
    height: 20px;
    padding: 0;

    > img {
        box-shadow: 0 0 4px 0 #cbcbcb63;
        border-radius: 50%;
        width: 16px;
        background-color: transparent;
        filter: opacity(0.5);
        filter: invert(1);
    }
}

.m-prev {
    left: 0.5rem;
}

.m-next {
    right: 0.5rem;
}

.m-dots {

    position: absolute;
    list-style: none;
    bottom: 5px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 0;
    padding: 0;
    left: 50%;
    transform: translateX(-50%);
    filter: invert(1);

    > li {
        filter: opacity(0.4);

        > img {
            width: 7px;
        }
    }
}
