<div class="m-carousel" id="carousel" data-carousel>
    <img class="m-no-image" src="../../../../assets/img/no-image.png" alt="no-image"/>
    <button class="m-carousel-button m-prev" id="prev" data-carousel-button="prev"><img src="../../../../assets/img/svgs/left-arrow.svg"></button>
    <button class="m-carousel-button m-next" id="next" data-carousel-button="next"><img src="../../../../assets/img/svgs/right-arrow.svg"></button>
    <nz-mention id="tagPerson" class="m-input-tag" nzPlacement="top" [nzSuggestions]="suggestions" (nzOnSelect)="onSelect()">
        <input nzMentionTrigger nz-input [(ngModel)]="inputValue2" (ngModelChange)="onChange($event)" />
    </nz-mention>
    <div id="tooltip" class="m-tooltip">who's this?</div>
    <ul id="data-slides" data-slides>
        <li *ngFor="let item of urlImages; let index = index;" class="m-slide active" data-active>
            <!-- <img (dblclick)="tag($event)" (click)="viewMentions()" class="m-post-photo" id="instagramPost" src="../../../../../assets/img/no-image.jpg" alt="post" > -->
            <img  class="m-image" (dblclick)="tag($event)" (click)="viewMentions()" src="{{item}}" alt="image #2">
        </li>
    </ul>

    <ul id="dots" class="m-dots">
    </ul>
</div>
<!--
    simulation for upload image (FTP not working)    
    <button (click)="addimg()">add</button> 
-->