/* You can add global styles to this file, and also import other style files */
@import 'assets/sass/_project/_config.scss';
@import 'assets/sass/_global/_mixins.scss';
@import 'assets/sass/_project/base.scss';
@import 'assets/sass/_project/mixins-fonts';
@import 'assets/sass/_project/_placeholders.scss';
@import 'assets/sass/_project/placeholders-layouts';

.m-alert-container {
    &.is-closed {
        animation: 0.3s closing;
    }

    @keyframes closing {
        0% {
            height: 141px;
            opacity: 1;
            transform: translateY(0);
        }
        100% {
            height: 0;
            opacity: 0;
            transform: translateY(-200px);
        }
    }

    > .m-alert {
        position: relative;
        .mod-dashboard & {
            background-color: $color-base-0;
            border: 0;
            padding: 22px 29px 23px;
            height: fit-content;

            > .m-alert-title {
                width: 216px;
                @include textstyle-size-16-bold();
                padding-bottom: 11px;
            }

            > .m-alert-text {
                @include textstyle-size-16();
            }

            > .m-close-icon {
                position: absolute;
                right: 19px;
                top: 21px;
                width: 10px;
                height: 10px;
                cursor: pointer;

                > img {
                    position: absolute;
                    z-index: 9;
                    width: 10px;
                    height: 10px;
                }
            }
        }
    }
}
label,
small {
    cursor: pointer;
}
/* Importing Bootstrap SCSS file. */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.m-page-img {
    height: 19px;
    margin-right: 10px;
}

.m-page-item-provider {
    color: $color-media-dark-grey;
    width: 100px;
}

.ant-upload-select {
    height: fit-content !important;
    width: fit-content !important;
    border: none !important;

    > div {
        > div {
            > div {
                margin-top: -6px !important;
            }
        }
    }
}

.ant-upload-list-picture-card-container {
    height: 40px !important;
    width: 51px !important;
}
.ant-upload-list-item {
    padding: 0 !important;
}
.ant-upload-list-item-card-actions-btn {
    width: fit-content !important;
}
.anticon-download {
    display: none !important;
}

.m-button {
    &:not(.no-transparent) {
        .anticon svg {
            fill: transparent;
        }
    }
    &.is-black-icon {
        .anticon svg {
            fill: $color-base-100 !important;
        }
    }
}

svg {
    .m-info-icon & {
        fill: $color-media-black-opacity-half !important;
    }
    .no-transparent-only & {
        fill: $color-base-50 !important;
    }
}

.ant-modal {
    width: max-content !important;
}

.is-shown {
    display: block !important;
}
.ant-modal-content {
    .ant-modal-close {
        &:after {
            content: '';
            background-image: url('/../assets/img/svgs/close.svg');
            position: absolute;
            background-position: center;
            background-repeat: no-repeat;
            width: 9px;
            right: 25px;
            top: 22px;
            height: 9px;
        }
        i {
            color: $color-base-100;
            opacity: 0;
        }
    }
    .ant-modal-confirm-body {
        margin-top: 25px;
        .m-delete-msg {
            margin-bottom: 0;
            font-weight: 700;
        }
    }
    .ant-modal-confirm-content p {
        padding-left: 15px;
    }
    .m-second-msg {
        margin-left: -37px;
    }
    .ant-modal-confirm-content {
        .m-msg {
            padding-left: 0;
            text-align: center;
        }
    }

    .ant-modal-confirm-btns {
        button {
            font-weight: 700;
            &.ant-btn-primary,
            &.ant-btn-primary:hover {
                background-color: $color-media-primary-orange;
                border: 0;
            }
            &:first-child {
                background-color: $color-media-background-light-grey;
                border: 0;
                &:hover {
                    background-color: $color-media-background-light-grey;
                    border: 0;
                    color: $color-base-100;
                    opacity: 0.85;
                }
            }
        }
    }
}
.account-container {
    ::-webkit-scrollbar {
        width: 4px;
    }
    nz-option-item {
        padding-left: 66px;
        height: 52px;
    }
    .cdk-virtual-scroll-viewport {
        min-height: 160px;
    }
    .ant-select-item-option-content {
        display: flex;
        align-items: center;
        &:after {
            content: '';
            position: absolute;
            border: 1px solid #d9d9d9;
            width: 9px;
            left: 20px;
            top: 16px;
            height: 20px;
            width: 20px;
        }
    }
    .m-image {
        position: relative;
        &.is-disconnected {
            filter: opacity(0.2);
        }

        > img {
            border-radius: 50%;
            display: block;
            object-fit: cover;
            width: 36px;
            height: 36px;
        }

        > .m-provider-logo {
            position: absolute;
            bottom: -5px;
            right: -5px;
            display: flex;

            > img {
                width: 20px;
                height: 20px;

                &.facebook {
                    background-color: $color-base-0;
                    padding: 3px;
                    box-shadow: 0 0 5px $color-media-light-grey;
                    width: 25px;
                    @include mq(tablet) {
                        width: 54px;
                        padding: 6px;
                    }
                }
            }
        }
    }
    label {
        padding-left: 14px;
    }
    .ant-select-item-option-state {
        position: absolute;
        left: 24px;
        color: rgba(0, 0, 0, 0.5) !important ;
        top: 16px;
    }
}

.ant-select {
    &:not(.ant-select-customize-input) {
        .ant-select-selector {
            border: 0;
        }
    }
}

nz-select-top-control {
    .mod-create-user & {
        border: none !important;
        box-shadow: none !important;
    }
}
.ant-table-content {
    overflow-x: scroll;
}

.ant-table-cell,
td {
    overflow-wrap: normal !important;
}

.ant-table table {
    width: max-content;
    @include mq(tablet) {
        width: 100%;
    }
}

.ant-modal-header {
    border-bottom: 0;
}
.ant-modal-footer {
    border-top: 0;
}

.angular-editor-textarea {
    min-height: 150px !important;
    border: 1px solid #ff8d69 !important;
}

.m-table-teaser {
    span {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
}
.m-delete-textinfo {
    max-width: 259px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.ant-pagination-item {
    border-radius: 0;
}
.ant-pagination-item-active a {
    color: $color-media-primary-orange;
    &:hover {
        border-color: $color-media-primary-orange;
        color: $color-media-primary-orange;

        > a {
            color: $color-media-primary-orange;
        }
    }
}
.ant-pagination-item-active {
    border-color: $color-media-primary-orange;
    &:hover {
        border-color: $color-media-primary-orange;
        color: $color-media-primary-orange;

        > a {
            color: $color-media-primary-orange;
        }
    }
}

.ant-pagination-disabled,
.ant-pagination-disabled:hover {
    > a {
        cursor: not-allowed;
    }
}

svg {
    .m-modal-container & {
        width: 23px;
        height: 23px;
        fill: $color-media-primary-orange;
    }
}
.mod-user-list {
    .m-modal-container {
        .m-buttons {
            padding-top: 20px;
            .m-button {
                font-weight: 700;
                &:last-child {
                    color: #000000d9;
                }
            }
        }
    }
}

a {
    .mod-drafts &,
    .mod-my-posts & {
        color: $color-media-primary-orange;
        &:hover {
            color: $color-media-dark-orange;
        }
    }
}
