@import '../../../../assets/sass/_project/_config.scss';
@import '../../../../assets/sass/_project/base.scss';

.mod-header {
    height: 90px;

    > .m-wrapper {
        height: 90px;
        background-color: $color-base-0;

        > .m-header-container {
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 63px;
            margin-left: 244px;

            > .m-logo {
                user-select: none;
            }

            //todo
            > .m-home {
                > i {
                    > svg {
                        font-size: 16px;
                        > path {
                            fill: $color-base-0;
                        }
                    }
                }
            }

            > .m-title {
                user-select: none;

                > h5 {
                    margin: 0;
                }
            }

            > .m-control-buttons {
                display: flex;
                width: 100%;
                justify-content: flex-end;
                gap: 63px;
                padding-right: 20%;

                > .m-logout {
                    cursor: pointer;

                    > i {
                        svg {
                            font-size: 18px;
                        }
                    }
                }

                > .m-user {
                    cursor: pointer;

                    > i {
                        svg {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
}

nz-header {
    padding: 0;
    width: 100%;
    z-index: 2;
}