<div class="mod-dashboard">
  <div class="m-wrapper">
    <div class="m-title">
      <h1 i18n="Dashboard Title|Title for the Dashboard Page@@dashboardTitle">
        Social Media Publisher
      </h1>
    </div>

    <div class="m-dashboard-container">
        <div class="m-left-col">
            <div class="m-alert-container">
                <div class="m-alert">
                    <div class="m-close-icon">
                        <img src="../../../assets/img/close.png" alt="close">
                    </div>
                    <div i18n="Message Title|Title for the message alert@@messageTitle" class="m-alert-title">
                        Herzlich Willkommen 
                        im Social Media Publisher
                    </div>
                    <div i18n="Message Body|Body of the alert message@@messageBody" class="m-alert-text">
                        Dank des neuen Social Media Publishers können Sie ganz einfach Ihre Social Media Kanäle verknüpfen und Beiträge gestalten und direkt veröffentlichen.
                    </div>
                </div>
            </div>
            <div class="m-posts-history">
                <div class="m-history-header">
                    <div i18n="Dashboard Container Left Title|Left title for the Dashboard container@@dashboardContainerTitle" class="m-message">
                        Meine Beiträge
                    </div>
                    <div i18n="Dashboard container side note|Side note for dashboard container@@dashboardContainerNote" class="m-note">
                        Alle Beiträge ansehen
                    </div>
                </div>
                <div *ngIf="listOfPages == '' && !isLoadingPages && !isLoadingPosts" class="m-login">
                    <span class="m-login-icon">
                        <i nz-icon nzType="ng-zorro:add"></i>
                    </span>
                    <div class="m-message-info">
                        <h4 i18n="No account|No connected account title@@NoConnectedAccountTitle">Noch keine Beiträge vorhanden. </h4>
                        <p i18n="No account message|No connected account message@@NoConnectedAccountMessage">Verknüpfe Deine Social Media Kanäle mit der mediafactory, 
                        um Beiträge zu gestalten und direkt zu veröffenltichen.</p>
                    </div>
                    <div class="m-login-button">
                        <button  (click)="loginWithFacebook()" class="m-button is-primary" i18n="Login button|Login account button@@LoginAccount"><span><i nz-icon nzType="ng-zorro:add"></i></span>Konto verknüpfen</button>
                    </div>
                </div>

                <div *ngIf="isLoadingPages || isLoadingPosts" class="m-loading">
                    <i nz-icon nzType="loading" nzTheme="outline"></i>
                </div>

                <div *ngIf="listOfPages != '' && !isLoadingPages && !isLoadingPosts" class="m-history">
                    <div class="m-history-table">
                        <table *ngIf="posts != ''">
                            <tbody>
                                <tr *ngFor="let post of posts">
                                    <td class="m-media-preview">
                                        <div class="m-media-small">
                                            <img src="https://upload.wikimedia.org/wikipedia/commons/9/9a/Gull_portrait_ca_usa.jpg" alt="">
                                            <div class="m-provider-logo">
                                                <img *ngIf="post.provider == 'instagram'" class="instagram" src="../../../assets/img/svgs/icons/instagram.svg" alt="">
                                                <img *ngIf="post.provider == 'facebook'" class="facebook" src="../../../assets/img/svgs/icons/facebook.svg" alt="">
                                            </div>
                                        </div>
                                    </td>
                                    <td class="m-page-info">
                                        <div class="m-page">{{post.message}}</div>
                                        <div class="m-date">{{post.createdAt}}</div>
                                    </td>
                                    <td *ngIf="post.provider == 'facebook'" class="m-stats">
                                        <div class="m-like-count">{{post.stats.likes}}</div>
                                        <div class="m-text">erreichte Personen</div>
                                    </td>
                                    <td *ngIf="post.provider == 'facebook'" class="m-stats">
                                        <div class="m-share-count">{{post.stats.shares}}</div>
                                        <div class="m-text">Gefällt mir-Angaben</div>
                                    </td>
                                    <td *ngIf="post.provider == 'facebook'" class="m-stats">
                                        <div class="m-comment-count">{{post.stats.comments}}</div>
                                        <div i18n="Comment|Comment@@Commment" class="m-text">Kommentare</div>
                                    </td>

                                    <td *ngIf="post.provider == 'instagram'" class="m-stats">
                                        <div class="m-like-count">{{post.stats.engagement}}</div>
                                        <div class="m-text">engagement</div>
                                    </td>
                                    <td *ngIf="post.provider == 'instagram'" class="m-stats">
                                        <div class="m-share-count">{{post.stats.saves}}</div>
                                        <div class="m-text">saves</div>
                                    </td>
                                    <td *ngIf="post.provider == 'instagram'" class="m-stats">
                                        <div class="m-comment-count">{{post.stats.impressions}}</div>
                                        <div i18n="Comment|Comment@@Commment" class="m-text">impressions</div>
                                    </td> 
                                    <td class="m-action">
                                        <a href="{{post.url}}" target="_blank" class="m-button is-disabled"><span><i nz-icon nzType="ng-zorro:open"></i></span> Zum Beitrag</a>
                                    </td>

                                </tr>
                            </tbody>
                        </table>

                        <div *ngIf="posts == ''" class="m-no-data">
                            <i nz-icon nzType="cloud" nzTheme="outline"></i>
                            <h3>No posts found</h3>
                            <div class="">start creating yoru posts now</div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="m-create-post">
                <button (change)="disableButtons()" disabled="true" routerLink="../create-post" class="m-button" [ngClass]="{'is-primary': listOfPages != '', 'is-disabled' : listOfPages == ''}"><span><i nz-icon nzType="ng-zorro:edit"></i></span> Beitrag erstellen</button>
            </div>
        </div>
        <div class="m-right-col">
            <div class="m-buttons">
                <button (change)="disableButtons()" disabled="true" routerLink="../create-post" class="m-button m-create-post" [ngClass]="{'is-primary': listOfPages != '', 'is-disabled' : listOfPages == ''}"><span><i nz-icon nzType="ng-zorro:edit"></i></span> Beitrag erstellen</button>
                <button class="m-button is-secondary"><span><i nz-icon nzType="ng-zorro:profile"></i></span> Verknüpfte Konten</button>
            </div>
            <div class="m-news">
                <div class="m-news-header">
                    <div class="m-title">Neuigkeiten des Social Media Publishers</div>
                    <div class="m-text">Neue Features, Updates und Ankündigungen findest Du hier.</div>
                </div>
                <div class="m-notes">
                    <ul>
                        <li>
                            <p>Beiträge auf <strong>mehreren Plattformen gleichzeitig</strong> veröffentlichen. <a href="#">Jetzt ansehen.</a> </p>
                        </li>
                        <li>
                            <p> Du kannst jetzt Beiträge für die <strong> Zukunft planen</strong> und in den Kalender einplanen. Zur Kalenderansicht.</p>
                        </li>
                        <li>
                            <p>Beiträge auf <strong>mehreren Plattformen gleichzeitig</strong> veröffentlichen. <a href="#">Jetzt ansehen.</a> </p>
                        </li>
                        <li>
                            <p>
                                Du kannst jetzt Beiträge für die <strong> Zukunft planen </strong> und in den Kalender einplanen. 
                            </p>
                        </li>
                    </ul>
                </div>

                <a class="m-see-more" href="/application/dashboard/blog-posts">Mehr lesen</a>
            </div>
        </div>
    </div>
    
    <div class="m-modal-pages">
        <div (click)="closeModal()" class="m-close-icon">
            <img src="../../../assets/img/close.png" alt="close">
        </div>
        <div class="m-modal-header">
            <div class="m-title">Instagram & Business Seiten hinzufügen</div>
            <div class="m-text">Wähle deine verbundenen Business Konten und Facebook Seiten aus, die du mit der mediafactory verknüpfen möchtest.</div>
            <div *ngIf="this.currentUser != ''" class="m-list-title">Mit <strong>accountname.test</strong> verknüpfte Konten:</div>
        
        </div>

        <form class="m-form-pages" nz-form [formGroup]="validateForm">
            <tr *ngFor="let page of listpages">
                <td>
                    <label>
                        <input
                        class="m-checkbox"
                        type="checkbox"
                        [value]="page.pageId"
                        (change)="onCheckChange($event)"
                        />

                        <nz-avatar
                        nzIcon="user"
                        [nzSrc]="page.pagePictureUrl"
                        style="margin: 8px 26px;width: 36px; height: 36px;"
                        ></nz-avatar>
        
                        {{ page.pageName }}
                    </label>
                </td>
            </tr>
        </form>
        <div class="m-submit-button">
            <button (click)="onSubmit()" class="m-button is-primary">Verknüpfen</button>
        </div>
    </div>

    <div class="m-success-modal">
        <div (click)="closeSuccessModal()" class="m-close-icon">
            <img src="../../../assets/img/close.png" alt="close">
        </div>
        <div class="m-success">
            <img src="../../../assets/img/Group.png" alt="refreshing">
            <div class="m-success-title">
                <img src="../../../assets/img/Check.png" alt="success">
                Erfolgreich angemeldet.
            </div>
            <p>Du wirst gleich weitergeleitet, um deine verknüpften Seiten
                dem mediafactory Social Media Publisher hinzuzufügen.</p>
        </div>
    </div>

  </div>
</div>
