<div class="mod-dashboard">
  <div class="m-wrapper">
    <div class="m-title">
      <h1 i18n="Dashboard Title|Title for the Dashboard Page@@dashboardTitle">
        Social Media Publisher
      </h1>
    </div>

    <div class="m-dashboard-container">
      <div class="m-left-col">
        <div class="m-alert-container">
          <div class="m-alert">
            <div class="m-close-icon">
              <img src="/assets/img/close.png" alt="close" />
            </div>
            <div
              i18n="Message Title|Title for the message alert@@messageTitle"
              class="m-alert-title"
            >
              Welcome to the Social Media Publisher
            </div>
            <div
              i18n="Message Body|Body of the alert message@@messageBody"
              class="m-alert-text"
            >
              Thanks to the new social media publisher, you can easily Link your
              social media channels and design posts and publish directly.
            </div>
          </div>
        </div>
        <div class="m-posts-history">
          <div class="m-history-header">
            <div
              i18n="
                Dashboard Container Left Title|Left title for the Dashboard
                container@@dashboardContainerTitle"
              class="m-message"
            >
              My posts
            </div>
            <div
              i18n="
                Dashboard container side note|Side note for dashboard
                container@@dashboardContainerNote"
              class="m-note"
              routerLink="/application/published-posts"
            >
              View all posts
            </div>
          </div>
          <div
            *ngIf="listOfPages == '' && !isLoadingPages && !isLoadingPosts"
            class="m-login"
          >
            <span class="m-login-icon">
              <i nz-icon nzType="ng-zorro:add"></i>
            </span>
            <div class="m-message-info">
              <h4
                i18n="
                  No account|No connected account title@@NoConnectedAccountTitle"
              >
                No posts yet.
              </h4>
              <p
                i18n="
                  No account message|No connected account
                  message@@NoConnectedAccountMessage"
              >
                Link your social media channels with the mediafactory to Design
                and publish posts directly.
              </p>
            </div>
            <div class="m-login-button">
              <button
                (click)="loginWithFacebook()"
                class="m-button is-primary"
                i18n="Login button|Login account button@@LoginAccount"
              >
                <span><i nz-icon nzType="ng-zorro:add"></i></span>Link account
              </button>
            </div>
          </div>

          <div *ngIf="isLoadingPages || isLoadingPosts" class="m-loading">
            <i nz-icon nzType="loading" nzTheme="outline"></i>
          </div>

          <div
            *ngIf="listOfPages != '' && !isLoadingPages && !isLoadingPosts"
            class="m-history"
          >
            <div class="m-history-table">
              <table *ngIf="posts != ''">
                <tbody>
                  <tr *ngFor="let post of posts">
                    <td class="m-media-preview">
                      <div class="m-media-small">
                        <img
                          src="/assets/img/test-images/default.png"
                          alt=""
                          *ngIf="post.postMedia.length == 0"
                        />

                        <img
                          src="{{ post.postMedia[0].url }}"
                          alt=""
                          *ngIf="post.postMedia.length > 0 && post.postMedia[0].type != 'video' "
                        />
                        <img
                          src="{{ post.postMedia[0].thumbnailLink }}"
                          alt=""
                          *ngIf="post.postMedia.length > 0 && post.postMedia[0].type == 'video' "
                        />
                        <div class="m-provider-logo">
                          <img
                            class="instagram"
                            src="{{
                              '/assets/img/test-images/' +
                                post.provider +
                                '.svg'
                            }}"
                            alt=""
                          />
                        </div>
                      </div>
                    </td>
                    <td class="m-page-info">
                      <div class="m-page">{{ post.message }}</div>
                      <div class="m-date">{{ post.createdAt | date: "dd.MM.yyyy, HH:mm" }}</div>
                    </td>
                    <td *ngIf="post.provider == 'facebook' && post.status" class="m-stats">
                      <div class="m-like-count">{{ post.stats.likes }}</div>
                      <div
                        class="m-text"
                        i18n="Reached People |reached people @@reachedPeople"
                      >
                        reached people
                      </div>
                    </td>
                    <td *ngIf="post.provider == 'facebook' && post.status" class="m-stats">
                      <div class="m-share-count">{{ post.stats.shares }}</div>
                      <div class="m-text" i18n="Likes |Likes @@likes">
                        likes
                      </div>
                    </td>
                    <td *ngIf="post.provider == 'facebook' && post.status" class="m-stats">
                      <div class="m-comment-count">
                        {{ post.stats.comments }}
                      </div>
                      <div
                        i18n="Comment|Comment@@Commment"
                        class="m-text"
                        i18n="Comments |Comments @@comments"
                      >
                        comments
                      </div>
                    </td>

                    <td *ngIf="post.provider == 'instagram' && post.status" class="m-stats">
                      <div class="m-like-count">
                        {{ post.stats.engagement === "0" ? 0 :  post.stats.engagement}}
                      </div>
                      <div
                        class="m-text"
                        i18n="Engagement |Engagement @@engagement"
                      >
                        engagement
                      </div>
                    </td>
                    <td *ngIf="post.provider == 'instagram' && post.status" class="m-stats">
                      <div class="m-share-count">{{ post.stats.saves }}</div>
                      <div class="m-text" i18n="Saves |Saves @@saves">
                        saves
                      </div>
                    </td>
                    <td *ngIf="post.provider == 'instagram' && post.status" class="m-stats">
                      <div class="m-comment-count">
                        {{ post.stats.impressions }}
                      </div>
                      <div
                        i18n="Comment|Comment@@Commment"
                        class="m-text"
                        i18n="Impressions |Impressions @@impressions"
                      >
                        impressions
                      </div>
                    </td>
                    <td *ngIf="!post.status"></td>
                    <td *ngIf="!post.status"></td>
                    <td *ngIf="!post.status">
                      <nz-badge nzStatus="error" class="m-badge-error">
                        <span class="m-text" i18n="Not Found|Not Found@@notFound">Not found</span>
                      </nz-badge>
                    </td>
                    <td class="m-action">
                      <a
                        *ngIf="post.status"
                        href="{{ post.url }}"
                        target="_blank"
                        class="m-button is-disabled"
                        i18n="
                          To the Post |To the Post or create post @@toThePost"
                        ><span><i nz-icon nzType="ng-zorro:open"></i></span> To
                        the post</a>

                        <a
                        *ngIf="!post.status"
                        class="m-button is-disabled is-blocked"
                        i18n="
                          To the Post |To the Post or create post @@toThePost"
                        ><span><i class="no-transparent-only" nz-icon nzType="stop" nzTheme="outline"></i></span> To
                        the post</a>
                    </td>
                  </tr>
                </tbody>
              </table>

              <div *ngIf="posts == ''" class="m-no-data">
                <i nz-icon nzType="cloud" nzTheme="outline"></i>
                <h3
                  i18n="No Posts Found |Text for no posts found @@noPostsFound"
                >
                  No posts found
                </h3>
                <div
                  class=""
                  i18n="
                    Start Creating Posts |Text for start creating your posts now
                    @@startCreatingPosts"
                >
                  start creating your posts now
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="m-create-post">
          <button
            (change)="disableButtons()"
            disabled="true"
            routerLink="/application/create-post"
            class="m-button"
            [ngClass]="{
              'is-primary': listOfPages != '',
              'is-disabled': listOfPages == ''
            }"
            i18n="Create Post |Text for create post button @@createPostButton"
          >
            <span><i nz-icon nzType="ng-zorro:edit"></i></span>
            Create post
          </button>
        </div>
      </div>
      <div class="m-right-col">
        <div class="m-buttons">
          <button
            (change)="disableButtons()"
            disabled="true"
            routerLink="../create-post"
            class="m-button m-create-post"
            [ngClass]="{
              'is-primary': listOfPages != '',
              'is-disabled': listOfPages == ''
            }"
            i18n="Create Post |Text for create post button @@createPostButton"
          >
            <span><i nz-icon nzType="ng-zorro:edit"></i></span>
            Create Post
          </button>
          <button
            class="m-button m-linked-accounts is-secondary"
            i18n="
              Linked Accounts |Text for linked accounts button
              @@linkedAccountsButton"
              routerLink="/application/accounts"
          >
            <i nz-icon nzType="ng-zorro:profile"></i>Linked Accounts
          </button>
        </div>
        <div class="m-news">
          <div class="m-news-header">
            <div
              class="m-title"
              i18n="
                News Title |Text for the news title section inside dashboard
                @@dashboardNewsTitle"
            >
              News from the social media publisher
            </div>
            <div
              class="m-text"
              i18n="
                News Subtitle Title |Text for the news sub title section inside
                dashboard @@dashboardNewsSubTitle"
            >
              Find new features, updates and announcements here.
            </div>
          </div>
          <div class="m-notes">
            <ul>
              <li *ngFor="let item of news">
                <p [innerHTML]="item.teaser"></p>
                <a [routerLink]="['/application/dashboard/post', item.id]" i18n="Watch now |Text for Watch now @@watchNow">Watch now.</a>
              </li>
            </ul>
          </div>
          <a
            class="m-see-more"
            href="/application/dashboard/blog-posts"
            i18n="Read More |Text for read more button @@readMore"
            >Read more
          </a>
        </div>
      </div>
    </div>

    <div class="m-modal-pages">
      <div (click)="closeModal()" class="m-close-icon">
        <img src="/assets/img/close.png" alt="close" />
      </div>
      <div class="m-modal-header">
        <div class="m-title" i18n="Add pages|Title for adding pages@@addPages">
          Add Instagram & Business Pages
        </div>
        <div
          class="m-text"
          i18n="Add Pages Text|Text for add pages@@addPagesText"
        >
          Select your connected business accounts and Facebook Pages that you
          want to link to the mediafactory.
        </div>
        <div
          *ngIf="this.currentUser != ''"
          class="m-list-title"
          i18n="
            Pages Linked To Accountname|Text for pages linked to
            accountname@@pagesLinkedToAccount"
        >
          Pages Linked To <strong>{{ accountName }}</strong>:
        </div>
      </div>

      <form class="m-form-pages" nz-form [formGroup]="validateForm">
        <tr *ngFor="let page of listpages">
          <td>
            <label>
              <input class="m-checkbox" type="checkbox" [value]="page.pageId" (change)="onCheckChange($event)" />
              <nz-avatar nzIcon="user" [nzSrc]="page.pagePictureUrl" style="margin: 8px 26px; width: 36px; height: 36px"></nz-avatar>
              <img class="m-provider-logo" src="{{ '/assets/img/test-images/' + page.provider + '.svg' }}" alt=""/>
              {{ page.pageName }}
            </label>
          </td>
        </tr>
      </form>
      <div class="m-submit-button">
        <button
          (click)="onSubmit()"
          class="m-button is-primary"
          i18n="Link|Link@@link"
        >
          Link
        </button>
      </div>

    </div>
    <div class="m-success-modal">
      <div (click)="closeSuccessModal()" class="m-close-icon">
        <img src="/assets/img/close.png" alt="close" />
      </div>
      <div class="m-success">
        <img src="/assets/img/Group.png" alt="refreshing" />
        <div
          class="m-success-title"
          i18n="Logged In|Logged in successfully@@loggedIn"
        >
          <img src="/assets/img/check.png" alt="success" />
          Logged in successfully.
        </div>
        <p
          i18n="
            Redirect Message Success|Text for redirection after
            success@@redirectMessageSuccess"
        >
          You will be immediately redirected to view your linked pages dem Add
          mediafactory social media publisher.
        </p>
      </div>
    </div>
  </div>
</div>
