<p>facebook-social works!</p>

<button (click)="loginWithFacebook()">Login</button>

<button (click)="getCurrentFBPages()">Get Current FB Pages</button>

<button (click)="postTextToPages()">Post Text</button>

<button (click)="postImageToPages()">Post Public Image Using URL</button>

<br />

<input
  type="file"
  (change)="fileChange($event)"
  placeholder="Upload file"
  accept=".png,.jpg,.webp"
  multiple
/>

<button (click)="postSourceImageToPages()">Post Source Image</button>
<br>
<div routerLink="./pages"><span>Pages</span></div>

<nz-modal [(nzVisible)]="isVisible" nzTitle="The first Modal" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>

    <form nz-form [formGroup]="validateForm" (ngSubmit)="onSubmit()">
      <tr *ngFor="let page of listpages">
        <td>
          <label>
            <input  type="checkbox" [value]="page.pageId" (change)="onCheckChange($event)">
            {{page.pageName}}
          </label>
        </td>
      </tr>

      <nz-form-item nz-row class="register-area">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
          <button nz-button nzType="primary">save</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>
